## Working with Dates and Times in Python

## Course Description

You'll probably never have a time machine, but how about a machine for analyzing time? As soon as time enters any analysis, things can get weird. It's easy to get tripped up on day and month boundaries, time zones, daylight saving time, and all sorts of other things that can confuse the unprepared. If you're going to do any kind of analysis involving time, you’ll want to use Python to sort it out. Working with data sets on hurricanes and bike trips, we’ll cover counting events, figuring out how much time has elapsed between events and plotting data over time. You'll work in both standard Python and in Pandas, and we'll touch on the dateutil library, the only timezone library endorsed by the official Python documentation. After this course, you'll confidently handle date and time data in any format like a champion.

##  Dates and Calendars
Free
0%

Hurricanes (also known as cyclones or typhoons) hit the U.S. state of Florida several times per year. To start off this course, you'll learn how to work with date objects in Python, starting with the dates of every hurricane to hit Florida since 1950. You'll learn how Python handles dates, common date operations, and the right way to format dates to avoid confusion.

    Dates in Python    50 xp
    Which day of the week?    100 xp
    How many hurricanes come early?    100 xp
    Math with dates    50 xp
    Subtracting dates    100 xp
    Counting events per calendar month    100 xp
    Putting a list of dates in order    100 xp
    Turning dates into strings    50 xp
    Printing dates in a friendly format    100 xp
    Representing dates in different ways    100 xp

##  Combining Dates and Times
0%

Bike sharing programs have swept through cities around the world -- and luckily for us, every trip gets recorded! Working with all of the comings and goings of one bike in Washington, D.C., you'll practice working with dates and times together. You'll parse dates and times from text, analyze peak trip times, calculate ride durations, and more.

    Dates and times    50 xp
    Creating datetimes by hand    100 xp
    Counting events before and after noon    100 xp
    Printing and parsing datetimes    50 xp
    Turning strings into datetimes    100 xp
    Parsing pairs of strings as datetimes    100 xp
    Recreating ISO format with strftime()    100 xp
    Unix timestamps    100 xp
    Working with durations    50 xp
    Turning pairs of datetimes into durations    100 xp
    Average trip time    100 xp
    The long and the short of why time is hard    100 xp

##  Time Zones and Daylight Saving
0%

In this chapter, you'll learn to confidently tackle the time-related topic that causes people the most trouble: time zones and daylight saving. Continuing with our bike data, you'll learn how to compare clocks around the world, how to gracefully handle "spring forward" and "fall back," and how to get up-to-date timezone data from the dateutil library.

    UTC offsets    50 xp
    Creating timezone aware datetimes    100 xp
    Setting timezones    100 xp
    What time did the bike leave in UTC?    100 xp
    Time zone database    50 xp
    Putting the bike trips into the right time zone    100 xp
    What time did the bike leave? (Global edition)    100 xp
    Starting daylight saving time    50 xp
    How many hours elapsed around daylight saving?    100 xp
    March 29, throughout a decade    100 xp
    Ending daylight saving time    50 xp
    Finding ambiguous datetimes    100 xp
    Cleaning daylight saving data with fold    100 xp

##  Easy and Powerful: Dates and Times in Pandas
0%

To conclude this course, you'll apply everything you've learned about working with dates and times in standard Python to working with dates and times in Pandas. With additional information about each bike ride, such as what station it started and stopped at and whether or not the rider had a yearly membership, you'll be able to dig much more deeply into the bike trip data. In this chapter, you'll cover powerful Pandas operations, such as grouping and plotting results by time.

    Reading date and time data in Pandas    50 xp
    Loading a csv file in Pandas    100 xp
    Making timedelta columns    100 xp
    Summarizing datetime data in Pandas    50 xp
    How many joyrides?    100 xp
    It's getting cold outside, W20529    100 xp
    Members vs casual riders over time    100 xp
    Combining groupby() and resample()    100 xp
    Additional datetime methods in Pandas    50 xp
    Timezones in Pandas    100 xp
    How long per weekday?    100 xp
    How long between rides?    100 xp
    Wrap-up    50 xp

## Dates in Python






**Name is Max Shron, I will be your instructor for this course on working with dates and times in python.  Dates are everywhere in data science.  

Stock prices go up dan down, experiments begin and end, people are born, politicans take votes, and on and on. All these events happen at a particualr point in time.  Knowing how to analysis data over time is a core data science skill.  


# *******************************************************************************************************************
This course is divided into 4 chapters.  The first chapter will be about working with dates and calendars.  In chapter 2, we will add time into the mix, and combine dates and times.  In chapter 3, we'll tackle one of the toughest parts of working with time: time zones and Daylight Saving.  And finally, in chapter 4, we'll connect what we've learned about working with dates and times to explore how Pandas can make answering even complex questions about dates much easier.  
# *******************************************************************************************************************


Python has special date class, called "date", which you will use to represent dates.  A date, like a string, or a number, or a NumPy array, has special rules for creating it and methods for working with it.  In this lesson, we're going to discuss creating dates and extracting some basic information out of them.  


So why do we need a special date class?  To understand how dates work, in this chapter you're going to exlore 67 years of Hurricane landfalls in the US state of Florida.  The "two_hurricanes" is a list with dates of two hurricanes represented as string: the last 2016 hurricane (on October 7th, 2016) and the first 2017 hurricane (on June 21st, 2017).  The dates are represented in the US style, with the month, then day, then the year.  


# *******************************************************************************************************************
Suppose you want to do something interesting with these dates.  How would you figure out how many days had elapsed between them?  How would you check that they were ordered from earliest to latest?  How would you know which day of the week each was?  Doing these things manually would be challenging, but Python makes all of them easy.  By the end of this chapter, you'll know how to do each of these things yourself.  


# To create a date object, we start by importing the data class.  The collection of date and time-related classes are stored in the "datetime" package.  
We create a date using the "date()" function.  Here we created dates corresponding to the two hurricanes, now as Python date objects.  The inputs to "date()" function are the year, month, and day.  The first date is October 7, 2016 and the second date is June 21, 2017.  The order is easy to remember: it goes from the biggest to smallest.  year, month, day.  

Later in this chapter, you'll create dates directly from list of strings, but in this lesson, youre stick to creating dates by hand or using list of already created dates.  You can access indivdual components of a date using the date-object's attributes.  You can access the year of the date using the ".year" attribute, like so, and the result is 2016.  

# You can also ask Python to do more complicated work.  
Here we call the "weekday()" method on the date-object, and see the weekday is 4.  Python counts weekdays from 0, starting on Monday and so on.  1 is Tuesday, 2 is Wednesday, up to 6 being a Sunday.  So this 4 means its Friday.  


In the next few exercises, you'll implement what you've seen in this video to see how much you can already do.  



two_hurricanes = ["10/7/2016", "6/21/2017"]


# Import date
from datetime import date
# Create dates
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]   #++++++++++++++++++++++++++++++++++++++++++++++++++++

print(two_hurricanes_dates[0].year)

In [19]:
from datetime import date


two_hurricanes = ["10/7/2016", "6/21/2017"]

two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]


print(two_hurricanes_dates[0].month, '\n')  #########################################################################

print(two_hurricanes_dates[0].weekday(), '\n')  #####################################################################

10

4

In [9]:
print(dir(two_hurricanes_dates[0]))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'ctime', 'day', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'min', 'month', 'replace', 'resolution', 'strftime', 'timetuple', 'today', 'toordinal', 'weekday', 'year']

## Which day of the week?

Hurricane Andrew, which hit Florida on August 24, 1992, was one of the costliest and deadliest hurricanes in US history. Which day of the week did it make landfall?

Let's walk through all of the steps to figure this out.
Instructions 1/3
35 XP

    Question 1
    Import date from datetime.
    
    
    
    Question 2
    Create a date object for August 24, 1992.
    
    
    
    Question 3
    Now ask Python what day of the week Hurricane Andrew hit (remember that Python counts days of the week starting from Monday as 0, Tuesday as 1, and so on).

In [ ]:
# Import date from datetime
from datetime import date

# Create a date object
hurricane_andrew = date(1992, 8, 24)



# Which day of the week is the date?
print(hurricane_andrew.____)

## How many hurricanes come early?

In this chapter, you will work with a list of the hurricanes that made landfall in Florida from 1950 to 2017. There were 235 in total. Check out the variable "florida_hurricane_dates", which has all of these dates.

Atlantic hurricane season officially begins on June 1. How many hurricanes since 1950 have made landfall in Florida before the official start of hurricane season?
Instructions
100 XP

    Complete the for loop to iterate through florida_hurricane_dates.
    Complete the if statement to increment the counter (early_hurricanes) if the hurricane made landfall before June.

In [7]:
florida_hurricane = [
    (1950, 8, 31), (1950, 9, 5), (1950, 10, 18), (1950, 10, 21), (1951, 5, 18), (1951, 10, 2), (1952, 2, 3), 
 (1952, 8, 30), (1953, 6, 6), (1953, 8, 29), (1953, 9, 20), (1953, 9, 26), (1953, 10, 9), (1955, 8, 21), 
 (1956, 7, 6), (1956, 9, 24), (1956, 10, 15), (1957, 6, 8), (1957, 9, 8), (1958, 9, 4), (1959, 6, 18), 
 (1959, 10, 8), (1959, 10, 18), (1960, 7, 29), (1960, 9, 10), (1960, 9, 15), (1960, 9, 23), (1961, 9, 11),
 (1961, 10, 29), (1962, 8, 26), (1963, 10, 21), (1964, 6, 6), (1964, 8, 27), (1964, 9, 10), (1964, 9, 20),
 (1964, 10, 5), (1964, 10, 14), (1965, 6, 15), (1965, 9, 8), (1965, 9, 30), (1966, 6, 9), (1966, 6, 30),
 (1966, 7, 24), (1966, 10, 4), (1968, 6, 4), (1968, 6, 18), (1968, 7, 5), (1968, 8, 10), (1968, 8, 28),
 (1968, 9, 26), (1968, 10, 19), (1969, 6, 9), (1969, 8, 18), (1969, 8, 29), (1969, 9, 7), (1969, 9, 21), 
 (1969, 10, 1), (1969, 10, 2), (1969, 10, 21), (1970, 5, 25), (1970, 7, 22), (1970, 8, 6), (1970, 9, 13),
 (1970, 9, 27), (1971, 8, 10), (1971, 8, 13), (1971, 8, 29), (1971, 9, 1), (1971, 9, 16), (1971, 10, 13),
 (1972, 5, 28), (1972, 6, 19), (1972, 9, 5), (1973, 6, 7), (1973, 6, 23), (1973, 9, 3), (1973, 9, 25), 
 (1974, 6, 25), (1974, 9, 8), (1974, 9, 27), (1974, 10, 7), (1975, 6, 27), (1975, 7, 29), (1975, 9, 23),
 (1975, 10, 1), (1975, 10, 16), (1976, 5, 23), (1976, 6, 11), (1976, 8, 19), (1976, 9, 13), (1977, 8, 27), 
 (1977, 9, 5), (1978, 6, 22), (1979, 7, 11), (1979, 9, 3), (1979, 9, 12), (1979, 9, 24), (1980, 8, 7),
 (1980, 11, 18), (1981, 8, 17), (1982, 6, 18), (1982, 9, 11), (1983, 8, 28), (1984, 9, 9), (1984, 9, 27), 
 (1984, 10, 26), (1985, 7, 23), (1985, 8, 15), (1985, 10, 10), (1985, 11, 21), (1986, 6, 26), (1986, 8, 13), 
 (1987, 8, 14), (1987, 9, 7), (1987, 10, 12), (1987, 11, 4), (1988, 5, 30), (1988, 8, 4), (1988, 8, 13),
 (1988, 8, 23), (1988, 9, 4), (1988, 9, 10), (1988, 9, 13), (1988, 11, 23), (1989, 9, 22), (1990, 5, 25),
 (1990, 10, 9), (1990, 10, 12), (1991, 6, 30), (1991, 10, 16), (1992, 6, 25), (1992, 8, 24), (1992, 9, 29), 
 (1993, 6, 1), (1994, 7, 3), (1994, 8, 15), (1994, 10, 2), (1994, 11, 16), (1995, 6, 5), (1995, 7, 27),
 (1995, 8, 2), (1995, 8, 23), (1995, 10, 4), (1996, 7, 11), (1996, 9, 2), (1996, 10, 8), (1996, 10, 18),
 (1997, 7, 19), (1998, 9, 3), (1998, 9, 20), (1998, 9, 25), (1998, 11, 5), (1999, 8, 29), (1999, 9, 15),
 (1999, 9, 21), (1999, 10, 15), (2000, 8, 23), (2000, 9, 9), (2000, 9, 18), (2000, 9, 22), (2000, 10, 3), 
 (2001, 6, 12), (2001, 8, 6), (2001, 9, 14), (2001, 11, 5), (2002, 7, 13), (2002, 8, 4), (2002, 9, 4), 
 (2002, 9, 14), (2002, 9, 26), (2002, 10, 3), (2002, 10, 11), (2003, 4, 20), (2003, 6, 30), (2003, 7, 25),
 (2003, 8, 14), (2003, 8, 30), (2003, 9, 6), (2003, 9, 13), (2004, 8, 12), (2004, 8, 13), (2004, 9, 5),
 (2004, 9, 13), (2004, 9, 16), (2004, 10, 10), (2005, 6, 11), (2005, 7, 6), (2005, 7, 10), (2005, 8, 25), 
 (2005, 9, 12), (2005, 9, 20), (2005, 10, 5), (2005, 10, 24), (2006, 6, 13), (2006, 8, 30), (2007, 5, 9),
 (2007, 6, 2), (2007, 8, 23), (2007, 9, 8), (2007, 9, 13), (2007, 9, 22), (2007, 10, 31), (2007, 12, 13),
 (2008, 7, 16), (2008, 7, 22), (2008, 8, 18), (2008, 8, 31), (2008, 9, 2), (2009, 8, 16), (2009, 8, 21),
 (2009, 11, 9), (2010, 6, 30), (2010, 7, 23), (2010, 8, 10), (2010, 8, 31), (2010, 9, 29), (2011, 7, 18),
 (2011, 8, 25), (2011, 9, 3), (2011, 10, 28), (2011, 11, 9), (2012, 5, 28), (2012, 6, 23), (2012, 8, 25),
 (2012, 10, 25), (2015, 8, 30), (2015, 10, 1), (2016, 6, 6), (2016, 9, 1), (2016, 9, 14), (2016, 10, 7), 
 (2017, 6, 21), (2017, 7, 31), (2017, 9, 10), (2017, 10, 29)]



florida_hurricane_dates = [date(*i) for i in florida_hurricane]

print(type(florida_hurricane_dates[0]))

print(florida_hurricane_dates[:3])

<class 'datetime.date'>
[datetime.date(1950, 8, 31), datetime.date(1950, 9, 5), datetime.date(1950, 10, 18)]

In [8]:
# Counter for how many before June 1
early_hurricanes = 0

# We loop over the dates
for hurricane in florida_hurricane_dates:
  # Check if the month is before June (month number 6)
  if hurricane.month < 6:
    early_hurricanes = early_hurricanes + 1
    
print(early_hurricanes)

10

## Math with dates







**In the last lesson, we discussed how to create date objects and access their attributes.  

# In this lesson, we're going to talk about how to do math with dates: counting days between events, moving forward or backward by a number of days, putting them in order and so on.  

Lets take a step back, Think back when you first learned arithmetic.  You probably started with something like a line of numbers.  A number line tells you what order the numbers go in, and how far apart numbers are from each other.  Lets pick two numbers, 14 and 16, and represent them in Python as teh variable a and b respectively.  We'll put them into a list - l.  Pyhthon can tell us which number in this list is the least, using the ".min()" function.  We can also subtract numbers.  When we subtrack two numbers, in this case subtracting 11 from 14, the result is 3.  Said another way, if we took 3 steps from 11, we would get 14.  

# Now lets think about how this applies to dates.  
Lets call the line as calendar line, instead of a number line.  Each dot on this calendar line corresponds to a particular day.  Lets put two dates onto this calendar line: November 5th, 2017 and December 4th, 2017.  Let represents this in Python.  We start by importing the date class from datetime package.  We create two date objects: d1 is November 5th, 2017nd d2 is December 4th, 2017.  As before, we put them into a list, l.  What Python is doing under the hood, so to speak, is not that different from putting the dates onto a calendar line.  For example, if we call ".min()" of l, we again get the "least" date, which means the earliest one.  In this case, thats November 5th, 2017.  
And just like numbers, we can subtract two dates.  When we do this, we get an object of type "timedelta".  Timedeltas gives us the elapsed time between events.  If you access the ".days" attribute of this object, you can obtain the number of days between the two dates.  We can also use a timedelta in the other direction.  First, lets import "timedelta" from datetime package.  Next, we create a 29-days timedelta, by passing "days=29" to "timedelta()" function.  Now when we add "n_datetime" to our original date we get back new date.  Python handled the fact that November has 30 days in it for us, without us having to remember which months are 30 day months, 31 day months, or 28 day months.  

Finally a quick side note: we will use the "plus-equal" operation a number of times in the rest of this course, so we should discuss it.  If you arent familiar with it, you can see how it works here.  Just Google it.  Google knows everything.  


We talked about how date objects are very similar to numbers, and how you can subtract them to get a timedelta object, or add timedelta to a date object to get a new date.  We also briefly touched on the += operator. Its time for you to practice these concepts.

In [15]:
from datetime import date, timedelta


two_hurricanes = ["10/7/2016", "6/21/2017"]

two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]


#print(two_hurricanes_dates.min())   # AttributeError: 'list' object has no attribute 'min'
print(min(two_hurricanes_dates))
print(max(two_hurricanes_dates))


delta = timedelta(days=10)#, months=2, years=20)


n_datetime = two_hurricanes_dates[1] + delta

print(n_datetime)

2016-10-07
2017-06-21
2017-07-01

## Subtracting dates

Python date objects let us treat calendar dates as something similar to numbers: we can compare them, sort them, add, and even subtract them. This lets us do math with dates in a way that would be a pain to do by hand.

The 2007 Florida hurricane season was one of the busiest on record, with 8 hurricanes in one year. The first one hit on May 9th, 2007, and the last one hit on December 13th, 2007. How many days elapsed between the first and last hurricane in 2007?
Instructions
100 XP

    Import date from datetime.
    Create a date object for May 9th, 2007, and assign it to the start variable.
    Create a date object for December 13th, 2007, and assign it to the end variable.
    Subtract start from end, to print the number of days in the resulting timedelta object.

In [28]:
# Import date
from datetime import date

# Create a date object for May 9th, 2007
start = date(2007, 5, 9)

# Create a date object for December 13th, 2007
end = date(2007, 12, 13)

# Subtract the two dates and print the number of days
print((end - start).days)

218

In [27]:
# MS code interview, two list of nums, find the minimum number of steps needed to equal the sums of two lists.   

list_a = [1, 2, 3, 4, 5, 6]
list_b = [1, 1, 2, 2, 2, 2]

## Counting events per calendar month

Hurricanes can make landfall in Florida throughout the year. As we've already discussed, some months are more hurricane-prone than others.

Using florida_hurricane_dates, let's see how hurricanes in Florida were distributed across months throughout the year.

We've created a dictionary called hurricanes_each_month to hold your counts and set the initial counts to zero. You will loop over the list of hurricanes, incrementing the correct month in hurricanes_each_month as you go, and then print the result.
Instructions
100 XP

    Within the for loop:
    Assign month to be the month of that hurricane.
    Increment hurricanes_each_month for the relevant month by 1.

In [52]:
print(florida_hurricane_dates, '\n')#hurricanes_each_dates)


florida_hurricane_month = [i.month for i in florida_hurricane_dates]


from collections import Counter

hurricanes_each_dates = Counter(florida_hurricane_month)
print(hurricanes_each_dates, '\n')

print(hurricanes_each_dates.keys(), '\n')

for i in range(1, 13):
    if i not in hurricanes_each_dates.keys():
        hurricanes_each_dates[i] = 0
        
print(sorted(hurricanes_each_dates.items()), '\n')


#print(dir(print(hurricanes_each_dates)))

[datetime.date(1950, 8, 31), datetime.date(1950, 9, 5), datetime.date(1950, 10, 18), datetime.date(1950, 10, 21), datetime.date(1951, 5, 18), datetime.date(1951, 10, 2), datetime.date(1952, 2, 3), datetime.date(1952, 8, 30), datetime.date(1953, 6, 6), datetime.date(1953, 8, 29), datetime.date(1953, 9, 20), datetime.date(1953, 9, 26), datetime.date(1953, 10, 9), datetime.date(1955, 8, 21), datetime.date(1956, 7, 6), datetime.date(1956, 9, 24), datetime.date(1956, 10, 15), datetime.date(1957, 6, 8), datetime.date(1957, 9, 8), datetime.date(1958, 9, 4), datetime.date(1959, 6, 18), datetime.date(1959, 10, 8), datetime.date(1959, 10, 18), datetime.date(1960, 7, 29), datetime.date(1960, 9, 10), datetime.date(1960, 9, 15), datetime.date(1960, 9, 23), datetime.date(1961, 9, 11), datetime.date(1961, 10, 29), datetime.date(1962, 8, 26), datetime.date(1963, 10, 21), datetime.date(1964, 6, 6), datetime.date(1964, 8, 27), datetime.date(1964, 9, 10), datetime.date(1964, 9, 20), datetime.date(1964, 10, 5), datetime.date(1964, 10, 14), datetime.date(1965, 6, 15), datetime.date(1965, 9, 8), datetime.date(1965, 9, 30), datetime.date(1966, 6, 9), datetime.date(1966, 6, 30), datetime.date(1966, 7, 24), datetime.date(1966, 10, 4), datetime.date(1968, 6, 4), datetime.date(1968, 6, 18), datetime.date(1968, 7, 5), datetime.date(1968, 8, 10), datetime.date(1968, 8, 28), datetime.date(1968, 9, 26), datetime.date(1968, 10, 19), datetime.date(1969, 6, 9), datetime.date(1969, 8, 18), datetime.date(1969, 8, 29), datetime.date(1969, 9, 7), datetime.date(1969, 9, 21), datetime.date(1969, 10, 1), datetime.date(1969, 10, 2), datetime.date(1969, 10, 21), datetime.date(1970, 5, 25), datetime.date(1970, 7, 22), datetime.date(1970, 8, 6), datetime.date(1970, 9, 13), datetime.date(1970, 9, 27), datetime.date(1971, 8, 10), datetime.date(1971, 8, 13), datetime.date(1971, 8, 29), datetime.date(1971, 9, 1), datetime.date(1971, 9, 16), datetime.date(1971, 10, 13), datetime.date(1972, 5, 28), datetime.date(1972, 6, 19), datetime.date(1972, 9, 5), datetime.date(1973, 6, 7), datetime.date(1973, 6, 23), datetime.date(1973, 9, 3), datetime.date(1973, 9, 25), datetime.date(1974, 6, 25), datetime.date(1974, 9, 8), datetime.date(1974, 9, 27), datetime.date(1974, 10, 7), datetime.date(1975, 6, 27), datetime.date(1975, 7, 29), datetime.date(1975, 9, 23), datetime.date(1975, 10, 1), datetime.date(1975, 10, 16), datetime.date(1976, 5, 23), datetime.date(1976, 6, 11), datetime.date(1976, 8, 19), datetime.date(1976, 9, 13), datetime.date(1977, 8, 27), datetime.date(1977, 9, 5), datetime.date(1978, 6, 22), datetime.date(1979, 7, 11), datetime.date(1979, 9, 3), datetime.date(1979, 9, 12), datetime.date(1979, 9, 24), datetime.date(1980, 8, 7), datetime.date(1980, 11, 18), datetime.date(1981, 8, 17), datetime.date(1982, 6, 18), datetime.date(1982, 9, 11), datetime.date(1983, 8, 28), datetime.date(1984, 9, 9), datetime.date(1984, 9, 27), datetime.date(1984, 10, 26), datetime.date(1985, 7, 23), datetime.date(1985, 8, 15), datetime.date(1985, 10, 10), datetime.date(1985, 11, 21), datetime.date(1986, 6, 26), datetime.date(1986, 8, 13), datetime.date(1987, 8, 14), datetime.date(1987, 9, 7), datetime.date(1987, 10, 12), datetime.date(1987, 11, 4), datetime.date(1988, 5, 30), datetime.date(1988, 8, 4), datetime.date(1988, 8, 13), datetime.date(1988, 8, 23), datetime.date(1988, 9, 4), datetime.date(1988, 9, 10), datetime.date(1988, 9, 13), datetime.date(1988, 11, 23), datetime.date(1989, 9, 22), datetime.date(1990, 5, 25), datetime.date(1990, 10, 9), datetime.date(1990, 10, 12), datetime.date(1991, 6, 30), datetime.date(1991, 10, 16), datetime.date(1992, 6, 25), datetime.date(1992, 8, 24), datetime.date(1992, 9, 29), datetime.date(1993, 6, 1), datetime.date(1994, 7, 3), datetime.date(1994, 8, 15), datetime.date(1994, 10, 2), datetime.date(1994, 11, 16), datetime.date(1995, 6, 5), datetime.date(1995, 7, 27), datetime.date(1995, 8, 2), datetime.date(1995, 8, 23), datetime.date(1995, 10, 4), datetime.date(1996, 7, 11), datetime.date(1996, 9, 2), datetime.date(1996, 10, 8), datetime.date(1996, 10, 18), datetime.date(1997, 7, 19), datetime.date(1998, 9, 3), datetime.date(1998, 9, 20), datetime.date(1998, 9, 25), datetime.date(1998, 11, 5), datetime.date(1999, 8, 29), datetime.date(1999, 9, 15), datetime.date(1999, 9, 21), datetime.date(1999, 10, 15), datetime.date(2000, 8, 23), datetime.date(2000, 9, 9), datetime.date(2000, 9, 18), datetime.date(2000, 9, 22), datetime.date(2000, 10, 3), datetime.date(2001, 6, 12), datetime.date(2001, 8, 6), datetime.date(2001, 9, 14), datetime.date(2001, 11, 5), datetime.date(2002, 7, 13), datetime.date(2002, 8, 4), datetime.date(2002, 9, 4), datetime.date(2002, 9, 14), datetime.date(2002, 9, 26), datetime.date(2002, 10, 3), datetime.date(2002, 10, 11), datetime.date(2003, 4, 20), datetime.date(2003, 6, 30), datetime.date(2003, 7, 25), datetime.date(2003, 8, 14), datetime.date(2003, 8, 30), datetime.date(2003, 9, 6), datetime.date(2003, 9, 13), datetime.date(2004, 8, 12), datetime.date(2004, 8, 13), datetime.date(2004, 9, 5), datetime.date(2004, 9, 13), datetime.date(2004, 9, 16), datetime.date(2004, 10, 10), datetime.date(2005, 6, 11), datetime.date(2005, 7, 6), datetime.date(2005, 7, 10), datetime.date(2005, 8, 25), datetime.date(2005, 9, 12), datetime.date(2005, 9, 20), datetime.date(2005, 10, 5), datetime.date(2005, 10, 24), datetime.date(2006, 6, 13), datetime.date(2006, 8, 30), datetime.date(2007, 5, 9), datetime.date(2007, 6, 2), datetime.date(2007, 8, 23), datetime.date(2007, 9, 8), datetime.date(2007, 9, 13), datetime.date(2007, 9, 22), datetime.date(2007, 10, 31), datetime.date(2007, 12, 13), datetime.date(2008, 7, 16), datetime.date(2008, 7, 22), datetime.date(2008, 8, 18), datetime.date(2008, 8, 31), datetime.date(2008, 9, 2), datetime.date(2009, 8, 16), datetime.date(2009, 8, 21), datetime.date(2009, 11, 9), datetime.date(2010, 6, 30), datetime.date(2010, 7, 23), datetime.date(2010, 8, 10), datetime.date(2010, 8, 31), datetime.date(2010, 9, 29), datetime.date(2011, 7, 18), datetime.date(2011, 8, 25), datetime.date(2011, 9, 3), datetime.date(2011, 10, 28), datetime.date(2011, 11, 9), datetime.date(2012, 5, 28), datetime.date(2012, 6, 23), datetime.date(2012, 8, 25), datetime.date(2012, 10, 25), datetime.date(2015, 8, 30), datetime.date(2015, 10, 1), datetime.date(2016, 6, 6), datetime.date(2016, 9, 1), datetime.date(2016, 9, 14), datetime.date(2016, 10, 7), datetime.date(2017, 6, 21), datetime.date(2017, 7, 31), datetime.date(2017, 9, 10), datetime.date(2017, 10, 29)]

Counter({9: 70, 8: 49, 10: 43, 6: 32, 7: 21, 11: 9, 5: 8, 2: 1, 4: 1, 12: 1})

dict_keys([8, 9, 10, 5, 2, 6, 7, 11, 4, 12])

[(1, 0), (2, 1), (3, 0), (4, 1), (5, 8), (6, 32), (7, 21), (8, 49), (9, 70), (10, 43), (11, 9), (12, 1)]

In [47]:
# A dictionary to count hurricanes per calendar month
hurricanes_each_month = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6:0,
		  				 7: 0, 8:0, 9:0, 10:0, 11:0, 12:0}

# Loop over all hurricanes
for hurricane in florida_hurricane_dates:
    # Pull out the month
    month = hurricane.month
    # Increment the count in your dictionary by one
    hurricanes_each_month[month] += 1
    
print(hurricanes_each_month)

{1: 0, 2: 1, 3: 0, 4: 1, 5: 8, 6: 32, 7: 21, 8: 49, 9: 70, 10: 43, 11: 9, 12: 1}

## Putting a list of dates in order

Much like numbers and strings, date objects in Python can be put in order. Earlier dates come before later ones, and so we can sort a list of date objects from earliest to latest.

What if our Florida hurricane dates had been scrambled? We've gone ahead and shuffled them so they're in random order and saved the results as dates_scrambled. Your job is to put them back in chronological order, and then print the first and last dates from this sorted list.
Instructions 1/2
50 XP

    Question 1
    Print the first and last dates in dates_scrambled.
    
    
    
    Question 2
#    Sort dates_scrambled using Python's built-in "sorted()" method, and save the results to dates_ordered.
    Print the first and last dates in dates_ordered.

In [19]:
scrambled = [(1988, 8, 4), (1990, 10, 12), (2003, 4, 20), (1971, 9, 1), (1988, 8, 23), (1994, 8, 15), (2002, 8, 4), 
 (1988, 5, 30), (2003, 9, 13), (2009, 8, 21), (1978, 6, 22), (1969, 6, 9), (1976, 6, 11), (1976, 8, 19), 
 (1966, 6, 9), (1968, 7, 5), (1987, 11, 4), (1988, 8, 13), (2007, 12, 13), (1994, 11, 16), (2003, 9, 6), 
 (1971, 8, 13), (1981, 8, 17), (1998, 9, 25), (1968, 9, 26), (1968, 6, 4), (1998, 11, 5), (2008, 8, 18),
 (1987, 8, 14), (1988, 11, 23), (2010, 9, 29), (1985, 7, 23), (2017, 7, 31), (1955, 8, 21), (1986, 6, 26),
 (1963, 10, 21), (2011, 10, 28), (2011, 11, 9), (1997, 7, 19), (2007, 6, 2), (2002, 9, 14), (1992, 9, 29),
 (1971, 10, 13), (1962, 8, 26), (1964, 8, 27), (1984, 9, 27), (1973, 9, 25), (1969, 10, 21), (1994, 7, 3),
 (1958, 9, 4), (1985, 11, 21), (2011, 9, 3), (1972, 6, 19), (1991, 6, 30), (2004, 8, 12), (2007, 9, 8),
 (1952, 2, 3), (1965, 9, 30), (2000, 9, 22), (2002, 9, 26), (1950, 9, 5), (1966, 10, 4), (1970, 5, 25),
 (1979, 9, 24), (1960, 9, 23), (2007, 8, 23), (2009, 8, 16), (1996, 10, 18), (2012, 10, 25), (2011, 8, 25),
 (1951, 5, 18), (1980, 8, 7), (1979, 9, 3), (1953, 9, 26), (1968, 10, 19), (2009, 11, 9), (1999, 8, 29),
 (2015, 10, 1), (2008, 9, 2), (2004, 10, 10), (2004, 9, 16), (1992, 8, 24), (2000, 9, 9), (1971, 9, 16),
 (1996, 9, 2), (1998, 9, 3), (1951, 10, 2), (1979, 9, 12), (2007, 10, 31), (1953, 10, 9), (1952, 8, 30),
 (1969, 9, 7), (2015, 8, 30), (1959, 10, 8), (2002, 7, 13), (1961, 10, 29), (2007, 5, 9), (2016, 10, 7), 
 (1964, 9, 20), (1979, 7, 11), (1950, 10, 18), (2008, 8, 31), (2012, 8, 25), (1966, 7, 24), (2010, 8, 10), 
 (2005, 8, 25), (2003, 6, 30), (1956, 7, 6), (1974, 9, 8), (1966, 6, 30), (2016, 9, 14), (1968, 6, 18),
 (1982, 9, 11), (1976, 9, 13), (1975, 7, 29), (2007, 9, 13), (1970, 9, 27), (1969, 10, 2), (2010, 8, 31),
 (1995, 10, 4), (1969, 8, 29), (1984, 10, 26), (1973, 9, 3), (1976, 5, 23), (2001, 11, 5), (2010, 6, 30),
 (1985, 10, 10), (1970, 7, 22), (1972, 5, 28), (1982, 6, 18), (2001, 8, 6), (1953, 8, 29), (1965, 9, 8),
 (1964, 9, 10), (1959, 10, 18), (1957, 6, 8), (1988, 9, 10), (2005, 6, 11), (1953, 6, 6), (2003, 8, 30),
 (2002, 10, 3), (1968, 8, 10), (1999, 10, 15), (2002, 9, 4), (2001, 6, 12), (2017, 9, 10), (2005, 10, 5),
 (2005, 7, 10), (1973, 6, 7), (1999, 9, 15), (2005, 9, 20), (1995, 6, 5), (2003, 7, 25), (2004, 9, 13), 
 (1964, 6, 6), (1973, 6, 23), (2005, 9, 12), (2012, 6, 23), (1961, 9, 11), (1990, 5, 25), (2017, 6, 21),
 (1975, 6, 27), (1959, 6, 18), (2004, 9, 5), (1987, 10, 12), (1995, 7, 27), (1964, 10, 14), (1970, 8, 6), 
 (1969, 10, 1), (1996, 10, 8), (1968, 8, 28), (1956, 10, 15), (1975, 9, 23), (1970, 9, 13), (1975, 10, 16),
 (1990, 10, 9), (2005, 10, 24), (1950, 8, 31), (2000, 10, 3), (2002, 10, 11), (1983, 8, 28), (1960, 7, 29), 
 (1950, 10, 21), (1995, 8, 2), (1956, 9, 24), (2016, 9, 1), (1993, 6, 1), (1987, 9, 7), (2012, 5, 28),
 (1995, 8, 23), (1969, 8, 18), (2001, 9, 14), (2000, 8, 23), (1974, 10, 7), (1986, 8, 13), (1977, 8, 27),
 (2008, 7, 16), (1996, 7, 11), (1988, 9, 4), (1975, 10, 1), (2003, 8, 14), (1957, 9, 8), (2005, 7, 6),
 (1960, 9, 15), (1974, 9, 27), (1965, 6, 15), (1999, 9, 21), (2004, 8, 13), (1994, 10, 2), (1971, 8, 10),
 (2008, 7, 22), (2000, 9, 18), (1960, 9, 10), (2006, 6, 13), (2017, 10, 29), (1972, 9, 5), (1964, 10, 5),
 (1991, 10, 16), (1969, 9, 21), (1998, 9, 20), (1977, 9, 5), (1988, 9, 13), (1974, 6, 25), (2010, 7, 23),
 (2007, 9, 22), (1984, 9, 9), (1989, 9, 22), (1992, 6, 25), (1971, 8, 29), (1953, 9, 20), (1985, 8, 15),
 (2016, 6, 6), (2006, 8, 30), (1980, 11, 18), (2011, 7, 18)]



dates_scrambled = [date(*i) for i in scrambled]

print(dates_scrambled[:3], '\n')

print(dir(dates_scrambled), '\n')


print(sorted(dates_scrambled)[:10])

[datetime.date(1988, 8, 4), datetime.date(1990, 10, 12), datetime.date(2003, 4, 20)]

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

[datetime.date(1950, 8, 31), datetime.date(1950, 9, 5), datetime.date(1950, 10, 18), datetime.date(1950, 10, 21), datetime.date(1951, 5, 18), datetime.date(1951, 10, 2), datetime.date(1952, 2, 3), datetime.date(1952, 8, 30), datetime.date(1953, 6, 6), datetime.date(1953, 8, 29)]

## Turning dates into strings







**Python has a very flexible set of tools for turning dates back into strings to be easily read.  
# We want to put dates back into strings when, for example, we want o print resualts, but also if we want to put dates into a filename, or if we want to write dates out to CSV or Excel files.  

For example, lets create a date and see how Python prints it by default.  As before, we need to import date from datetime package, and lets again create a datetime object of November 5th, 2017 using "date(2017, 11, 5)" function.  And when we ask Python to print the date object ( ?????? ), it prints the year, the month and the day, separated by dashes, and always with 2 digits for the day and month.  We cansee this is probably a YYYY-MM-DD representing date information.  This is the default format which is also know as IOS format, or ISO 8601 format, after the international ISO 8601 that is based on.  The ISO 8601 strings are always the same length since month and day are written with 0s when they are less than 10.  We'll talk about another dvantage of ISO 8601 in a moment.  

If we want the ISO representation of a date as a string, say to write it to a CSV file instead of just printing in, you can call the "isoformat()" method.  We can put the outcome inside a list or other containers so that you can see that it creates a string.  The ISO 8601 format has another nice advantage.  To demonstrate, we've created a variable called some_dates and represented 2 dates here as strings, January 1, 2000, and December 31, 1999.  The dates formatted as ISO 8601 strings sort correctly.  When we print the "sorted()" version of this list, the earlier day is first and teh later date is second.  

For example if we use the ISO 8601 dates in file names, they can correctly sorted from earliest to latest.  If we had used month or day first, the strings would not sort in chronological order.  If you don't want to put dates in IOS 8601 format, Python has a flexible set of options for representing dates in other ways, using the ".strftime()" method.  The "strftime()" method works by letting you pass a "format string" which Python uses to format your date.  Lets see an example.  ( also can you recall when we learned this skills?  in data science toolbox courses or ? )

We again create an example date of January 5th, 2017.  
# (so we created a datetime object or just that date? and why sometimes Python print a memory location reference of a object, and other times Python print out the contained data?)
We than call ".strftime()" method on d, with the format string of "%Y", the "strftime()" reads the %Y and fills in the year in this string for us.  Also the "strftime()" metgod is very flexible: we can give it arbitrary strings with %Y in them for the format string, and it will stick the year in.  Pretty interesting.  For example we can use the format string of "Year is %Y".  

The ".strftime()" metod has other placeholders besides %Y: %m gives the month, and %d gives the day of the month.  Using these we can represent dates in arbitrary formats for whatever our needs are.  



In this lesson, we discussed how Python can represent a date as a string.  We emphasized the importance and utility of ISO 8601 format, but also introduced the ".strftime()" method, which let you turn dates into a wide variety of strings depending on your needs.

In [68]:
from datetime import date


# Example date
d = date(2017, 11, 5)
print(type(d), '\n')

print(d, '\n')


#l_d = list(d.isoformat())     # ['2', '0', '1', '7', '-', '1', '1', '-', '0', '5']
#print(type(l_d), '\n')
print([d.isoformat()])

<class 'datetime.date'>

2017-11-05

['2017-11-05']

# *******************************************************************************************************************
# *******************************************************************************************************************

In [17]:
from datetime import date


# A few dates that computers once had trouble with
some_date = ['2000-01-01', '1999-12-31']

print(sorted(some_date))


print(*some_date[0].split('-'))

dd = some_date[0].split('-')  #**************************************************************************************
print(map(int, dd), '\n')  #*****************************************************************************************

print(date(*map(int, dd)))

print('\n')

d = date(2000, 12, 23)
print(d.strftime("Year is this: %Y"))


#print(datetime.strptime(some_date[0]).strftime().strftime("Year is %Y"))

['1999-12-31', '2000-01-01']
2000 01 01
<map object at 0x7f6d7817fe80>

2000-01-01


Year is this: 2000

In [13]:
print(dir(some_date[0]), '\n')


print(help(map))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

None

## Printing dates in a friendly format

Because people may want to see dates in many different formats, Python comes with very flexible functions for turning date objects into strings.

Let's see what event was recorded first in the Florida hurricane data set. In this exercise, you will format the earliest date in the "florida_hurricane_dates" list in two ways so you can decide which one you want to use: either the ISO standard or the typical US style.
Instructions
100 XP

#    Assign the earliest date in florida_hurricane_dates to first_date.
    Print first_date in the ISO standard. For example, December 1st, 2000 would be "2000-12-01".
    Print first_date in the US style, using .strftime(). For example, December 1st, 2000 would be "12/1/2000".
    
Hint

    Finding the earliest date can be done the same way you find the smallest number, using the min() function.
    You can use the .isoformat() method to convert the date into ISO format.
    When formatting dates, "%Y", "%m" and "%d" correspond to the year, month, and day of the month, respectively.

In [24]:
florida_hurricane_dates = [date(*i) for i in scrambled]



# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.strftime("%Y-%m-%d")  # ".isoformat()" ###########################
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

ISO: Our earliest hurricane date: 1950-08-31
US: Our earliest hurricane date: 08/31/1950

In [ ]:
# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

## Representing dates in different ways

date objects in Python have a great number of ways they can be printed out as strings. In some cases, you want to know the date in a clear, language-agnostic format. In other cases, you want something which can fit into a paragraph and flow naturally.

Let's try printing out the same date, August 26, 1992 (the day that Hurricane Andrew made landfall in Florida), in a number of different ways, to practice using the ".strftime()" method.

A date object called andrew has already been created.
Instructions 1/3
35 XP

    Question 1
    Print andrew in the format 'YYYY-MM'.
    
    
    
    Question 2
#    Print andrew in the format 'MONTH (YYYY)', using %B for the month's full name, which in this case will be August.
    
    
    
    Question 3
#    Print andrew in the format 'YYYY-DDD' (where DDD is the day of the year) using %j.

In [27]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'YYYY-MM'
print(andrew.strftime("%Y-%m"))


print(andrew.strftime("MONTH %B"))


print(andrew.strftime("%Y-%j"))

1992-08
MONTH August
1992-239

## Dates and times






**In this chapter, you are going to move from only working with dates to working with both dates and times: the calendar day and time on the clock within that day.  As always, lets start with an example.  

# Here is an example of a date and a time together: October 1, 2017, at 3:23:25 PM.  
Unlike before, where we were only working with the date, we're now going to also include the time.  Lets see how to represent this in Python.  The first thing we have to do is import the datetime from the datetime package.  Yes, "from datetime import datetime".  Ideally, these would have different names, but unfortunately for historical reasons they have the same name.  This is just something to get used to.  

We're going to create a datetime called "dt" and populate the fields together.  The first 3 arguments to the datetime class are exactly the same as the date class.  Year, then month, then day, each as a number.  Next, we fill in the hour, computers generallyuse 24 hour time, meaning that 3 PM is represented as hour 15 of 24.  We then put in the minutes, 23 out of 60.  And finally, the seconds.  The "October 1, 2017 at 3:23:25 PM" is represented as a datetime in Python as "datetime(2017, 11, 1, 15, 23, 25)".  

All of these arguments need to be whole numbers; if you want to represent 0.5 seconds, you can add microseconds to your datetime after the second arg.  Below we added 500,000 microseconds, or 0.5 seconds.  That is Python breaks seconds down into millionths of a second for you when you need that kind of precision.  If you need billionths of a second precision (which happens sometimes in science and finance) We'll cover nanoseconds when we get to Pandas at the end of this course.  Python defaults to 0 microseconds if you dont include it.  Thats a lot of arguments; if it helps, you can always be more explicit and use named arguments.  

We can also make new datetime from existing one by using the ".replace()" method.  For example, we can take datetime we just made, and make a new one which has the same date, but is rounded down to the start of the hour.  We call "dt.replace(minutes=0, second=0, microsecond=0)", this creates a new datetime with the same values in all the other fields, but those ones we changed with ".replace()" method.  




Before we wrap up, lets talk about the data we will use for the rest of this course.  You will be working with data from Capital Bikeshare, the oldest municipal shared bike program in the US.  Throughout the Washington DC area, you will find these special bike docks where riders can pay to take a bike, ride it, and return to this or any other station in the network.  We will be following one bike, ID number "W20529", on all the trips it took in October, November, and December of 2017.  Each trip consisted of a date and time when a bike was undocked from a station, then times passed, and the date and time when "W20529" was docked again.  



In this video, we walked through how to create datetime objects in Python.  You're going to practice that in the exercises, and also work with the Capital Bikeshare data and see how we can use Python to understand the trips that "W20529" took throughout the 3 months that we're interested in.

In [33]:
from datetime import date, datetime


# October 1, 2017, at 3:23:25 PM
dt = datetime(2017, 11, 1, 15, 23, 25)

print(dt, '\n')



# October 1, 2017, at 3:23:25 PM
dt = datetime(2017, 11, 1, 15, 23, 25, 500000)

print(dt, '\n')


# October 1, 2017, at 3:23:25 PM
dt = datetime(year=2017, month=11, day=1, hour=15, minute=23, second=25, microsecond=500000)
print(dt)



dt = dt.replace(minute=0, second=0, microsecond=0)
print(dt)

2017-11-01 15:23:25

2017-11-01 15:23:25.500000

2017-11-01 15:23:25.500000
2017-11-01 15:00:00

## Creating datetimes by hand

# Often you create datetime objects based on outside data. 
Sometimes though, you want to create a datetime object from scratch.

You're going to create a few different datetime objects from scratch to get the hang of that process. These come from the bikeshare data set that you'll use throughout the rest of the chapter.
Instructions 1/3
50 XP

    Question 1
    Import the datetime class.
    Create a datetime for October 1, 2017 at 15:26:26.
    Print the results in ISO format.
    
    
    
    Question 2
    Import the datetime class.
    Create a datetime for December 31, 2017 at 15:19:13.
    Print the results in ISO format.
    
    
    
    Question 3
    Create a new datetime by replacing the year in dt with 1917 (instead of 2017)
    
Hint

    The syntax for importing a class from a module is from <module> import <class>.
    datetime takes six numbers: year, month, day, hour, minute, second.
    .isoformat() gives the ISO 8601 format string.

In [4]:
import pandas as pd


bike = pd.read_csv('capital-onebike.csv')

print(bike.head(), '\n')



# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 12, 31, 15, 19, 13)

# Print the results in ISO 8601 format
print(dt.isoformat())



dt = dt.replace(year=1917)
print(dt)

            Start date             End date  Start station number  \
0  2017-10-01 15:23:25  2017-10-01 15:26:26                 31038
1  2017-10-01 15:42:57  2017-10-01 17:49:59                 31036
2  2017-10-02 06:37:10  2017-10-02 06:42:53                 31036
3  2017-10-02 08:56:45  2017-10-02 09:18:03                 31037
4  2017-10-02 18:23:48  2017-10-02 18:45:05                 31295

                          Start station  End station number  \
0                  Glebe Rd & 11th St N               31036
1         George Mason Dr & Wilson Blvd               31036
2         George Mason Dr & Wilson Blvd               31037
3  Ballston Metro / N Stuart & 9th St N               31295
4                     Potomac & M St NW               31230

                            End station Bike number Member type
0         George Mason Dr & Wilson Blvd      W20529      Member
1         George Mason Dr & Wilson Blvd      W20529      Casual
2  Ballston Metro / N Stuart & 9th St N      W20529      Member
3                     Potomac & M St NW      W20529      Member
4         Metro Center / 12th & G St NW      W20529      Member

2017-12-31T15:19:13
1917-12-31 15:19:13

## Counting events before and after noon

In this chapter, you will be working with a list of all bike trips for one Capital Bikeshare bike, W20529, from October 1, 2017 to December 31, 2017. This list has been loaded as "onebike_datetimes".

Each element of the list is a dictionary with two entries: start is a datetime object corresponding to the start of a trip (when a bike is removed from the dock) and end is a datetime object corresponding to the end of a trip (when a bike is put back into a dock).

You can use this data set to understand better how this bike was used. Did more trips start before noon or after noon?
Instructions
100 XP

    Within the for loop, complete the if statement to check if the trip started before noon.
    Within the for loop, increment trip_counts['AM'] if the trip started before noon, and trip_counts['PM'] if it started after noon.

In [24]:
from datetime import datetime
import pandas as pd


print(bike.head(), '\n')

#print(dir(bike["Start date"]), '\n')
#print(help(bike["Start date"].transform))
#print(help(bike["Start date"].astype))
#print(help(bike[["Start date"]].to_datetime))  #********************************************************************
bike["Start date"] = pd.to_datetime(bike["Start date"])
bike["End date"] = pd.to_datetime(bike["End date"])


#bike["Start date"] = bike["Start date"].astype("datetime")
#bike["Start date"] = bike["Start date"].transform(datetime)

#datetime.strftime(bike[["Start date", "End date"]])
# TypeError: descriptor 'strftime' for 'datetime.date' objects doesn't apply to a 'DataFrame' object

print(bike.info())



#bike_dt = {j[0]:j[1] for i,j in bike.iterrows()}   #****************************************************************
#####################################################################################################################
#####################################################################################################################
bike_dt = [{'start': j[0], 'end': j[1]} for i,j in bike.iterrows()]   #**********************************************


print(bike_dt[:3], '\n')   #.keys()

print([i['start'].hour for i in bike_dt[:3]])   #####################################################################

           Start date            End date  Start station number  \
0 2017-10-01 15:23:25 2017-10-01 15:26:26                 31038
1 2017-10-01 15:42:57 2017-10-01 17:49:59                 31036
2 2017-10-02 06:37:10 2017-10-02 06:42:53                 31036
3 2017-10-02 08:56:45 2017-10-02 09:18:03                 31037
4 2017-10-02 18:23:48 2017-10-02 18:45:05                 31295

                          Start station  End station number  \
0                  Glebe Rd & 11th St N               31036
1         George Mason Dr & Wilson Blvd               31036
2         George Mason Dr & Wilson Blvd               31037
3  Ballston Metro / N Stuart & 9th St N               31295
4                     Potomac & M St NW               31230

                            End station Bike number Member type
0         George Mason Dr & Wilson Blvd      W20529      Member
1         George Mason Dr & Wilson Blvd      W20529      Casual
2  Ballston Metro / N Stuart & 9th St N      W20529      Member
3                     Potomac & M St NW      W20529      Member
4         Metro Center / 12th & G St NW      W20529      Member

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Start date            290 non-null    datetime64[ns]
 1   End date              290 non-null    datetime64[ns]
 2   Start station number  290 non-null    int64
 3   Start station         290 non-null    object
 4   End station number    290 non-null    int64
 5   End station           290 non-null    object
 6   Bike number           290 non-null    object
 7   Member type           290 non-null    object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 18.2+ KB
None
[{'start': Timestamp('2017-10-01 15:23:25'), 'end': Timestamp('2017-10-01 15:26:26')}, {'start': Timestamp('2017-10-01 15:42:57'), 'end': Timestamp('2017-10-01 17:49:59')}, {'start': Timestamp('2017-10-02 06:37:10'), 'end': Timestamp('2017-10-02 06:42:53')}]

[15, 15, 6]

In [25]:
# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}
  
# Loop over all trips
for trip in bike_dt:
    # Check to see if the trip starts before noon
    if trip['start'].hour < 12:
        # Increment the counter for before noon
        trip_counts['AM'] += 1
    else:
        # Increment the counter for after noon
        trip_counts['PM'] += 1
        
print(trip_counts)

{'AM': 94, 'PM': 196}

In [ ]:
# *******************************************************************************************************************
# In Clearning data in Python course, we learned this approach and many others.  Can you recall it



pd.to_datetime() can recognize most formats automatically

# Converts to datetime - but won't work cause the error data day-day-year
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'])
    ValueError: month must be in 1..12

# Will work
birthday['Birthday'] = pd.to_datetime(birthday['Birthday'],   #######################################################
                                      # Attempt to infer format of each date
                                      infer_datetime_format=True,   #++++++++++++++++++++++++++++++++++++++++++++++++
                                      # Return NA fpr rows where conversion failed
                                      errors='coerce')   #+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## Printing and parsing datetimes






# **Much like dates, datetimes can be printed in many ways.  Python also has another trick: you can take a string and turn it directly into a datetime.  

Lets start with printing dates and then move on to asking Python to parse them.  First lets create a datetime again.  As what we did before, creteing the variable dt corresponding to December 30, 2017 at 15:19:13, the end of the last trip that W20529 takes in our dataset.  Just like date objects, we use the ".strftime()" method to create a string with a particular format.  First. we'll just print out the year, month and day, using the same format codes we used for dates.  %Y stands for the 4 digits year, %m for the month, and %d for the day of the month.  

Now we can add in the hours, minutes and seconds.  Again, we print the year, month and day, and now we add 3 more format codes: %H gives us the hour, %M gives us the minutes, and %S gives us the second.  There are also format codes for 12-hour clocks, and for printing the correct AM or PM.  As before, we can make these formatting strings as complicated as we need.  Here is another version of the previous string.  Finally we can use the ".isoformat()" method, just like dates, to get a standard-compliant way of writing down a datetime.  


The officially correctly way of writing a datetime is the year, month, day then a capital T, then the time in 24 hour time, followed by the minute and second.  When is doubt, this is a good format to use.  We can also parse dates from trings, using the same format codes we used for printing.  You'll use this often when getting date and time data from the internet, since dates and timesare often represented as atrings.  


# *******************************************************************************************************************
# "datetime.strptime()" function
We start as before, by importing the datetime class.  The method we're going to use is called "datetime.strftime()" function, which is a short for string parse time.  The "datetime.strptime()" function takes 2 arguments: the first argument is the string to turn into a datetime, and the second argument is the format strin that says how to do so.  First we pass the string we want to parse.  In this case, a string representing December 30, 2017, at 15:19:13.  Then we pass the format string which, as mentioned before uses the same format code we used for the ".strftime()" method. In this case, first the month, then the day, then the year, all separated by slashes, then a space, and then the hour, minutes, and seconds separated by colons.  You usually need to figure this out once per dataset.  

If we look and see what kind of object we've made, by printing the type of dt, we see that we've got a datetime.  And 
# if we print that datetime, we get a string representation of the datetime.  (str representation of obj or location)
We can see that the parsing worked correctly.  We need an exact match to do string conversion.  For example, if we leave out how to parse the time, Python will throw an error.  And similarly, if there is  errant comma or other symbols, "datetime.strptime()" function will not perfor as expected.  


Finally, these is another kind of datetime you will sometimes encounter: the Unix timestamp.  Many computers store datetime information behind the scense as the number of the seconds since January 1, 1970.  This date is largely considered the birth of modern-style computers.  To read a Unix timestamp use the "datetime.fromtimestamp()" method.  Python will read your timestamp and return a datetime.  



We've just covered how to use format codes to turn datetime into strings and strings into datetimes, and what ISO 8601 format looks like with time involved.  Now you're practice moving back and forth between strings and datetimes.

In [29]:
print(bike_dt[-1]['end'])   #########################################################################################


end_dt = bike_dt[-1]['end']

end_dt_str = end_dt.isoformat()
#end_dt_str = end_dt.strftime('%Y-%m-%d %hour:%min')

print(end_dt_str)

2017-12-30 15:19:13
2017-12-30T15:19:13

In [30]:
print(help(end_dt.strftime))

Help on method strftime in module pandas._libs.tslibs.timestamps:

strftime(format) method of pandas._libs.tslibs.timestamps.Timestamp instance
    Timestamp.strftime(format)

    Return a string representing the given POSIX timestamp
    controlled by an explicit format string.

    Parameters
    ----------
    format : str
        Format string to convert Timestamp to string.
        See strftime documentation for more information on the format string:
        https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior.

    Examples
    --------
    >>> ts = pd.Timestamp('2020-03-14T15:32:52.192548651')
    >>> ts.strftime('%Y-%m-%d %X')
    '2020-03-14 15:32:52'

None

In [44]:
end_dt_str = end_dt.strftime('%Y-%m-%d %X')
print(end_dt_str)

end_dt_str = end_dt.strftime('%Y-%m-%d %H:%M:%S')
print(end_dt_str)

end_dt_str = end_dt.strftime('Date is: %Y-%m-%d at %H:%M:%S')
print(end_dt_str)


dt = datetime.strptime('12/30/2017 15:19:13', '%m/%d/%Y %H:%M:%S')  #################################################
# ValueError: time data '12/30/2017 15:19:13' does not match format 'Date is: %Y-%m-%d at %H:%M:%S'
# ValueError: time data '12/30/2017 15:19:13' does not match format '%m-%d-%Y %H:%M:%S'
print(dt)

2017-12-30 15:19:13
2017-12-30 15:19:13
Date is: 2017-12-30 at 15:19:13
2017-12-30 15:19:13

In [45]:
ts = 1514665153.0

# Convert to datetime and print
print(datetime.fromtimestamp(ts))

2017-12-30 15:19:13

## Turning strings into datetimes

When you download data from the Internet, dates and times usually come to you as strings. Often the first step is to turn those strings into datetime objects.

In this exercise, you will practice this transformation.
Reference	
%Y	4 digit year (0000-9999)
%m	2 digit month (1-12)
%d	2 digit day (1-31)
%H	2 digit hour (0-23)
%M	2 digit minute (0-59)
%S	2 digit second (0-59)
Instructions 1/3
35 XP

    Question 1
    Determine the format needed to convert s to datetime and assign it to fmt.
    Convert the string s to datetime using fmt.
    
    
    
    Question 2
    Determine the format needed to convert s to datetime and assign it to fmt.
    Convert the string s to datetime using fmt.
    
    
    
    Question 3
    Determine the format needed to convert s to datetime and assign it to fmt.
    Convert the string s to datetime using fmt.

In [ ]:
# Import the datetime class
from datetime import datetime

# Starting string, in YYYY-MM-DD HH:MM:SS format
s = '2017-02-03 00:00:01'

# Write a format string to parse s
fmt = '____'

# Create a datetime object d
d = datetime.____(____, ____)

# Print d
print(d)