## Cleaning Data in Python

## Course Description

It's commonly said that data scientists spend 80% of their time cleaning and manipulating data and only 20% of their time analyzing it. The time spent cleaning is vital since analyzing dirty data can lead you to draw inaccurate conclusions. Data cleaning is an essential task in data science. Without properly cleaned data, the results of any data analysis or machine learning model could be inaccurate. In this course, you will learn how to identify, diagnose, and treat a variety of data cleaning problems in Python, ranging from simple to advanced. You will deal with improper data types, check that your data is in the correct range, handle missing data, perform record linkage, and more!

##  Common data problems
Free
0%

In this chapter, you'll learn how to overcome some of the most common dirty data problems. You'll convert data types, apply range constraints to remove future data points, and remove duplicated data points to avoid double-counting.

    Data type constraints    50 xp
    Common data types    100 xp
    Numeric data or ... ?    100 xp
    Summing strings and concatenating numbers    100 xp
    Data range constraints    50 xp
    Tire size constraints    100 xp
    Back to the future    100 xp
    Uniqueness constraints    50 xp
    How big is your subset?    50 xp
    Finding duplicates   100 xp
    Treating duplicates    100 xp

##  Text and categorical data problems
0%

Categorical and text data can often be some of the messiest parts of a dataset due to their unstructured nature. In this chapter, you’ll learn how to fix whitespace and capitalization inconsistencies in category labels, collapse multiple categories into one, and reformat strings for consistency.

    Membership constraints    50 xp
    Members only    100 xp
    Finding consistency    100 xp
    Categorical variables    50 xp
    Categories of errors    100 xp
    Inconsistent categories    100 xp
    Remapping categories    100 xp
    Cleaning text data    50 xp
    Removing titles and taking names    100 xp
    Keeping it descriptive    100 xp

##  Advanced data problems
0%

In this chapter, you’ll dive into more advanced data cleaning problems, such as ensuring that weights are all written in kilograms instead of pounds. You’ll also gain invaluable skills that will help you verify that values have been added correctly and that missing values don’t negatively impact your analyses.

    Uniformity    50 xp
    Ambiguous dates    50 xp
    Uniform currencies    100 xp
    Uniform dates    100 xp
    Cross field validation    50 xp
    Cross field or no cross field?    100 xp
    How's our data integrity?    100 xp
    Completeness    50 xp
    Is this missing at random?    50 xp
    Missing investors    100 xp
    Follow the money    100 xp

##  Record linkage
0%

Record linkage is a powerful technique used to merge multiple datasets together, used when values have typos or different spellings. In this chapter, you'll learn how to link records by calculating the similarity between strings—you’ll then use your new skills to join two restaurant review datasets into one clean master dataset.

    Comparing strings    50 xp
    Minimum edit distance    50 xp
    The cutoff point    100 xp
    Remapping categories II    100 xp
    Generating pairs    50 xp
    To link or not to link?    100 xp
    Pairs of restaurants    100 xp
    Similar restaurants    100 xp
    Linking DataFrames    50 xp
    Getting the right index    50 xp
    Linking them together!    100 xp
    Congratulations!    50 xp

## Data type constraints







**The institutor's name is Adel, he'll be our host as we learn how to clean data in Python.  

# *******************************************************************************************************************
# In this course, we're going to understand how to diagnose different problems in our data and how they can come up during out workflow.  We will also understand the side effects of not treating our data correctly.  And various ways to address different types of dirty data.  


In this chapter, we're going to discuss the most common data problems you may encounter and how to address them.  

# To understand why we need to clean data, lets remind ourselves of the data science workflow.  In a typical data science workflow, we usually access our raw data, explore and process it, develop insights using visualizations or predictive models, and finally report these insights with dashboards or reports.  


Access Data --> Explore and Process Data --> Extract Insights --> Report Insights


# Dirty data can appear because of duplicate values, miss-spellings, data type parsing errors and legacy systems.  
Without making sure that data is properly clearned in the exploration and processing phase, we will surely compromise the insights and reports subsequently generated.  As the old adage says, garbage in garbage out.  


When working with data, there are various types that we may encounter along the way.  We could be working with text data, integers, decimals, dates, zip codes, and others.  Luckily, Python has specific data type objects for various data types that you're probably familiar with by now.  This makes it much easier to manipulate these various data types in Python.  
    
    Text data, Integers, Decimals, Binary, Dates, Categories
    str, int, float, bool, datetime, cateory


# *******************************************************************************************************************
# As such, before preparing to analyze and extract insights from our data, we need to make sure our variables have the correct data types, other wise we risk compromising our anaysis.  Lets take a look at the following example.  


Belwo is a head od a DF containing revenue generated and quantity of items sold for a sales order.  We want to calculate the total revenue generated by all sales orders.  As you can see, the Revenue dolumn has the dollar sign on the righthand side.  A close inspection of the DF columns' data types using the ".dtypes" attribute returns object for the Revenue column, which is what Pandas uses to store strings.  We can also check the data types as well as the number of missing values per column in a DataFrame, by using the ".info()" method.  

Since the Revenue column is a string, summing across all sales order returns one large concatenated string containing each row's string.  To fix this, we need to first remove the $ sign from the string so that Pandas is able to convert the strings into numbers without error (how about we define it at the first place? need to do some test).  

# *******************************************************************************************************************
To do this with the "sales['Revenue'].str.strip('$')" method, while specifying the string we want to strip as an argument which is in this case the dollar sign.  
Since our dollar value do not contain decimals, we then convert the Revenue column to an integer by using the ".astype()" method , specifying the desired data type as argument.  Had our revenue value been decimal, we would have converted the Revenue column to float.  
We can make sure that the Revenue column is now an integer by using the "assert" statement, which takes in a condition as input, and returns nothing if that condition is met, and ar error is it is not.  
You can test almost anything you can image of by using "assert", and we'll see more ways to utilize it as we go along the course.  
# *******************************************************************************************************************


# A common type of data seems numeric but actually represents cateories with a finite set of possible categories.  This is called categorical data.  
We will look more closely at categorical data in Chapter 2, but lets take a look at this example.  Here we have a marriage status column, which is represented by 0 for never married, 1 for married, 2 for separated, and 3 for divorced.  

However it will be imported of type integer, which could lead to misleading results when trying to extract some statistical summaries.  We can solve this by using the same ".astype()" method seen earlier, but this time specifying the "category" data type.  When applying the ".describe()" method again, we see that the summary statistics are much more aligned with that of a categorical variable, discussinng the number of observations, number of unique values, most frequent category instead of mean and standard deviation.  


Now that we have solid understanding of data type constrains - lets get to practice.  



# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Remove $ from Revenue column
sales['Revenue'] = sales['Revenue'].str.strip('$')
sales['Revenue'] = sales['Revenue'].astype('int')

# Verify that Revenue is now an integer
assert sales['Revenue'].dtypes == 'int'



# Convert to categorical
df['marriage_status'] = df['marriage_status'].astype('category')
df.describe()

In [ ]:
sales = pd.read_csv('sales.csv')

print(sales.head())


---------------------------------------------
  SalesOrderId  | Revenue     | Quantity
0        43659  |     23153$  |       12
1        43660  |      1457$  |        2

In [12]:
price = '23153$'


n_price = price.strip('$')
print(n_price)
print(type(n_price))

print(int(n_price))
print(type(int(n_price)))


#assert int(n_price).dtype() == 'int'
assert type(int(n_price)) == 'int'

23153
<class 'str'>
23153
<class 'int'>

AssertionError:

## Common data types

Manipulating and analyzing data with incorrect data types could lead to compromised analysis as you go along the data science workflow.

When working with new data, you should always check the data types of your columns using the .dtypes attribute or the .info() method which you'll see in the next exercise. Often times, you'll run into columns that should be converted to different data types before starting any analysis.

In this exercise, you'll first identify different types of data and correctly map them to their respective types.
Instructions
100XP

    Assign each card to what type of data you think it is.

Numeric data type: Salary earned monthly, 
                   Number of items bought in a basket, 
                   Number of points on customer loyalty card

Text:              City of residence, 
                   First name
                   Shipping address of a customer

Dates:             Birthdates of clients, 
                   Order date of a product,

## Numeric data or ... ?

In this exercise, and throughout this chapter, you'll be working with bicycle ride sharing data in San Francisco called "ride_sharing". It contains information on the start and end stations, the trip duration, and some user information for a bike sharing service.

The "user_type" column contains information on whether a user is taking a free ride and takes on the following values:

    1 for free riders.
    2 for pay per ride.
    3 for monthly subscribers.

In this instance, you will print the information of ride_sharing using .info() and see a firsthand example of how an incorrect data type can flaw your analysis of the dataset. The pandas package is imported as pd.
Instructions 1/3
35 XP

    Question 1
    Print the information of ride_sharing.
#    Use .describe() to print the summary statistics of the user_type column from ride_sharing.
    
    
    
    Question 2
#    By looking at the summary statistics - they don't really seem to offer much description on how users are distributed along their purchase type, why do you think that is?
Possible Answers
    -The user_type column is not of the correct type, it should be converted to str.
    -The user_type column has an infinite set of possible values, it should be converted to category.
#    -The user_type column has an finite set of possible values that represent groupings of data, it should be converted to category.     Also other 'int64' values, station_A_id, bike_id, user_birth_year, user_gender
# *******************************************************************************************************************
# *******************************************************************************************************************



    Question 3
#    -Convert "user_type" into categorical by assigning it the 'category' data type and store it in the "user_type_cat" column.
#    -Make sure you converted "user_type_cat" correctly by using an "assert" statement.

In [44]:
import pandas as pd


df = pd.read_csv('ride_sharing_new.csv', index_col=0)
print(df.dtypes)

print(df.head(3))



df['user_type'] = df['user_type'].astype('category')

#print(dir(df['user_type']))

print(df['user_type'].dtypes)
assert df['user_type'].dtype == 'category' # ------------------------------------------------------------------------


print('user_type describe')
print(df['user_type'].describe())


print(len(df[df['user_type']==2]))


# *******************************************************************************************************************
# filt_list = movies_genres.loc[movies_genres['_merge']=='both', 'title'].unique()
print(df.loc[df['user_type']==2, 'user_type'])

# *******************************************************************************************************************
print(df[df['user_type']==2]['user_type'].copy())




print(df.info())


print(df.describe())

duration           object
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
dtype: object
     duration  station_A_id  \
0  12 minutes            81
1  24 minutes             3
2   8 minutes            67

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23

                    station_B_name  bike_id  user_type  user_birth_year  \
0               Broadway at Kearny     5480          2             1959
1  Eureka Valley Recreation Center     5193          2             1965
2    The Embarcadero at Steuart St     3652          3             1993

  user_gender
0        Male
1        Male
2        Male
category
user_type describe
count     25760
unique        3
top           2
freq      12972
Name: user_type, dtype: int64
12972
0        2
1        2
4        2
5        2
6        2
        ..
25752    2
25753    2
25756    2
25757    2
25758    2
Name: user_type, Length: 12972, dtype: category
Categories (3, int64): [1, 2, 3]
0        2
1        2
4        2
5        2
6        2
        ..
25752    2
25753    2
25756    2
25757    2
25758    2
Name: user_type, Length: 12972, dtype: category
Categories (3, int64): [1, 2, 3]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25760 entries, 0 to 25759
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  object
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  category
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
dtypes: category(1), int64(4), object(4)
memory usage: 1.8+ MB
None
       station_A_id  station_B_id       bike_id  user_birth_year
count  25760.000000  25760.000000  25760.000000     25760.000000
mean      31.023602     89.558579   4107.621467      1983.054969
std       26.409263    105.144103   1576.315767        10.010992
min        3.000000      3.000000     11.000000      1901.000000
25%       15.000000     21.000000   3106.000000      1978.000000
50%       21.000000     58.000000   4821.000000      1985.000000
75%       67.000000     93.000000   5257.000000      1990.000000
max       81.000000    383.000000   6638.000000      2001.000000

## Summing strings and concatenating numbers

In the previous exercise, you were able to identify that category is the correct data type for user_type and convert it 
# in order to extract relevant statistical summaries that shed light on the distribution of user_type.

# Another common data type problem is importing what should be numerical values as strings, 
as mathematical operations such as summing and multiplication lead to string concatenation, not numerical outputs.

In this exercise, you'll be converting the string column duration to the type int. Before that however, you will need to make sure to strip "minutes" from the column in order to make sure pandas reads it as numerical. The pandas package has been imported as pd.
Instructions
100 XP

#    Use the ".strip()" method to strip duration of "minutes" and store it in the "duration_trim" column.
    Convert "duration_trim" to int and store it in the "duration_time" column.
    Write an "assert" statement that checks if duration_time's data type is now an int.
    Print the average ride duration.

In [59]:

df = pd.read_csv('ride_sharing_new.csv', index_col=0)
print(df.dtypes)

df['user_type'] = df['user_type'].astype('category')


print(df['duration'].head())


df['duration'] = df['duration'].str.strip('minutes')

df['duration'] = df['duration'].astype('int')
print(df['duration'].head())

print('\n')
print(df['duration'].mean)

print(df.info())

duration           object
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
dtype: object
0    12 minutes
1    24 minutes
2     8 minutes
3     4 minutes
4    11 minutes
Name: duration, dtype: object
0    12
1    24
2     8
3     4
4    11
Name: duration, dtype: int64


<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        12
1        24
2         8
3         4
4        11
         ..
25755    11
25756    10
25757    14
25758    14
25759    29
Name: duration, Length: 25760, dtype: int64>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25760 entries, 0 to 25759
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  int64
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  category
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
dtypes: category(1), int64(5), object(3)
memory usage: 1.8+ MB
None

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].____.____()

# Convert duration to integer
ride_sharing['duration_time'] = ____

# Write an assert statement making sure of conversion
assert ride_sharing['____'].____ == '____'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(____)

## Data range constraints





# **Hi and welcome back.  In this lesson, we're going to discuss data that should fall within a range.  Lets first start off with some motivation.  

Imagine we have a dataset of movies with their respective average rating from a streaming service.  The rating can be any integer between 1 and 5.  After creating a histogram with Matplotlib, we see that there are a few movies with an average rating of 6, which is well above the allowable range. 
# This is most likely an error in data collection or parsing, where a variable is well beyond its range and treating it is essential to have accurate analysis.  

Here is another example, where we see subscription dates in the future for a service.  
# Inherently this doesn't make any sence, as well cannot sign up for a service in the future, but these errors exist either due to technical or human error.  
We use the datetime package's ".date.today()" function to get today's date, and we filter the dateset by any subscription date higher than today's date.  


# *******************************************************************************************************************
# We need to pay attention to the range of our data. 



# There's a variety of options to deal with out of range data.  

The simplest option is to drop the data.  However, depending on the size of your out of range data, you could be loosing out on essential information.  As a rule of thumb, only drop data when a small proportion of your dataset is affected by out of range values, however you really need to understand your dataset before deciding to drop values.  

Another option would be setting custom minimums or maximums to your columns.  

We could also set the data to be missing, and impute it, but we'll take a look at how to deal with missing data in Chapter 3.  

We could also, dependent on the business assumptions behind our data, assign a custom value for any values of our data that go beyond a certain range.  


# *******************************************************************************************************************
Lets take a look at the movies example mentioned earlier.  We first isolate the movies with ratings higher than 5.  Now if these values are affect a small set of our data, we can drop them.  We can drop them is 2 ways - we can either create a new filtered movies DF where we only keep values of "avg_rating" lower than or equal to 5.  Or drop the values by using the ".drop()" method.  The ".drop()" method takes in as argument the row indices of movies for which the "avg_rating" is higher than 5.  We set the "inplace=" argument to True so that values are dropped in place and we don't have to create a new column.  We can make sure this is set in place using assert statement that checks if the maximumof avg_rating is lower lan or equal to 5.  

Depending on the assumptions behind our data, we can also change the out of range values to a hard limit.  For example, here we're setting any value of the avg_rating column to 5 if it goes beyond it.  We can do this using the ".loc[]" method, which returns all cells that fit a custom row and column index.  It takes as first argument the row index, or here all instaces of avg_rating above 5, and second argument the column index, which is here the avg_rating column.  Aagin, we can make sure that this change was done using an assert statement.  


# *******************************************************************************************************************
Lets take annother look at the date range example mentioned earlier, where we have subscriptions happening inthe future.  We first look at the datetypes (.dtype) of the column with the ".dtype" attribute.  We can confirm that the subscription_date column is an "object" and not a "datetime" object.  Datetime objects allow much earsier manipulation of date data, so lets convert it to that.  We do so with "pd.to_datetime()" function from Pandas, which takes in as argument the column we want to convert.  We can then test the data type conversion by asserting that the subscription date's column is equal to "datetime64[ns]", which is how the data type is represented in Pandas.  

Now that the column is in datetime, we can treat it in a variety of ways.  We first create a today_date variable using the datetime function ".date.today()", which allows us to store today's date.  We can then either drop the rows with exceeding dates similar to how we did in the average rating example, or replace exceeding values with todays date.  



import matplotlib.pyplot as plt

plt.hist(movies['avg_rating'])
plt.title('Average rating of movies (1-5)')



# Import date time
import datetime

today_date = datetime.date.today()
user_signups[user_signups['subscription_date'] > today_date]



import pandas as pd
# Output Movies with range > 5
movies[movies['avg_rating'] > 5]



# Drop values using filtering
movies = movies[movies['avg_rating'] <= 5]

# Drop values using .drop()
movies.drop(movies[movies['avg_rating'] > 5].index, inplace = True)  ################################################

assert movies['avg_rating'].max() == 5



# Convert avg_rating > 5 to value 5
movies.loc[movies['avg_rating']>5, 'avg_rating'] = 5



# Convert to DataTime
user_signups['subscription_date'] = pd.to_datetime(user_signups['subscription_date'])

# Assert that conversion happened
assers user_signups['subscription_date'].dtype == 'datetime64[ns]'  #################################################


<1> Drop the data
today_date = datetime.date.today()

# Drop values using filtering
user_signups = user_signups[user_signups['subscription_date'] < today_date]
# Drop values using .drop()
user_signups.drop(user_signups[user_signups['subscription_date'] < today_date].index, inplace = True)  ##############
# *******************************************************************************************************************

<2> Hardcode dates with upper limit

# Replace values using filtering
user_signups.loc[user_signups['subscription_date'] > today_date, 'subscription_date'] = today_date
# Assert is true
assert user_signups['subscription_date'].max().date() <= today_date

In [76]:
url = 'http://www.omdbapi.com/?t=hackers'
url = 'http://www.omdbapi.com/?i=tt3896198&apikey=8c241015'
url = 'http://www.omdbapi.com/?s=Batman&page=1&apikey=8c241015'
url = 'http://www.omdbapi.com/?s=Batman&page=2&apikey=8c241015'




import json
import requests

r = requests.get(url)
j_data = r.json()

print(j_data)



titles = []
with requests.get(url) as r:
    j_data = r.json()
    content = j_data['Search']
    for i in content:
        titles.append(i['Title'])
    

print(titles)

{'Search': [{'Title': 'Batman: The Killing Joke', 'Year': '2016', 'imdbID': 'tt4853102', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTdjZTliODYtNWExMi00NjQ1LWIzN2MtN2Q5NTg5NTk3NzliL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg'}, {'Title': 'Batman: Mask of the Phantasm', 'Year': '1993', 'imdbID': 'tt0106364', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYTRiMWM3MGItNjAxZC00M2E3LThhODgtM2QwOGNmZGU4OWZhXkEyXkFqcGdeQXVyNjExODE1MDc@._V1_SX300.jpg'}, {'Title': 'Batman: The Dark Knight Returns, Part 2', 'Year': '2013', 'imdbID': 'tt2166834', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYTEzMmE0ZDYtYWNmYi00ZWM4LWJjOTUtYTE0ZmQyYWM3ZjA0XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg'}, {'Title': 'Batman: Year One', 'Year': '2011', 'imdbID': 'tt1672723', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNTJjMmVkZjctNjNjMS00ZmI2LTlmYWEtOWNiYmQxYjY0YWVhXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg'}, {'Title': 'Batman: Assault on Arkham', 'Year': '2014', 'imdbID': 'tt3139086', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZDU1ZGRiY2YtYmZjMi00ZDQwLWJjMWMtNzUwNDMwYjQ4ZTVhXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg'}, {'Title': 'Batman', 'Year': '1966', 'imdbID': 'tt0060153', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMmM1OGIzM2UtNThhZS00ZGNlLWI4NzEtZjlhOTNhNmYxZGQ0XkEyXkFqcGdeQXVyNTkxMzEwMzU@._V1_SX300.jpg'}, {'Title': 'Batman: Gotham Knight', 'Year': '2008', 'imdbID': 'tt1117563', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BM2I0YTFjOTUtMWYzNC00ZTgyLTk2NWEtMmE3N2VlYjEwN2JlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg'}, {'Title': 'Batman: Arkham City', 'Year': '2011', 'imdbID': 'tt1568322', 'Type': 'game', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZDE2ZDFhMDAtMDAzZC00ZmY3LThlMTItMGFjMzRlYzExOGE1XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg'}, {'Title': 'Batman Beyond', 'Year': '1999–2001', 'imdbID': 'tt0147746', 'Type': 'series', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYTBiZjFlZDQtZjc1MS00YzllLWE5ZTQtMmM5OTkyNjZjMWI3XkEyXkFqcGdeQXVyMTA1OTEwNjE@._V1_SX300.jpg'}, {'Title': 'Son of Batman', 'Year': '2014', 'imdbID': 'tt3139072', 'Type': 'movie', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYjdkZWFhNzctYmNhNy00NGM5LTg0Y2YtZWM4NmU2MWQ3ODVkXkEyXkFqcGdeQXVyNTA0OTU0OTQ@._V1_SX300.jpg'}], 'totalResults': '497', 'Response': 'True'}
['Batman: The Killing Joke', 'Batman: Mask of the Phantasm', 'Batman: The Dark Knight Returns, Part 2', 'Batman: Year One', 'Batman: Assault on Arkham', 'Batman', 'Batman: Gotham Knight', 'Batman: Arkham City', 'Batman Beyond', 'Son of Batman']

In [80]:

df = pd.read_csv('ride_sharing_new.csv', index_col=0)
print(df.head())


df['user_type'] = df['user_type'].astype('category')

print(df.info())


df.describe()

#help(df.drop)

     duration  station_A_id  \
0  12 minutes            81
1  24 minutes             3
2   8 minutes            67
3   4 minutes            16
4  11 minutes            22

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23
3                            Steuart St at Market St            28
4                              Howard St at Beale St           350

                    station_B_name  bike_id  user_type  user_birth_year  \
0               Broadway at Kearny     5480          2             1959
1  Eureka Valley Recreation Center     5193          2             1965
2    The Embarcadero at Steuart St     3652          3             1993
3     The Embarcadero at Bryant St     1883          1             1979
4             8th St at Brannan St     4626          2             1994

  user_gender
0        Male
1        Male
2        Male
3        Male
4        Male
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25760 entries, 0 to 25759
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         25760 non-null  object
 1   station_A_id     25760 non-null  int64
 2   station_A_name   25760 non-null  object
 3   station_B_id     25760 non-null  int64
 4   station_B_name   25760 non-null  object
 5   bike_id          25760 non-null  int64
 6   user_type        25760 non-null  category
 7   user_birth_year  25760 non-null  int64
 8   user_gender      25760 non-null  object
dtypes: category(1), int64(4), object(4)
memory usage: 1.8+ MB
None

       station_A_id  station_B_id       bike_id  user_birth_year
count  25760.000000  25760.000000  25760.000000     25760.000000
mean      31.023602     89.558579   4107.621467      1983.054969
std       26.409263    105.144103   1576.315767        10.010992
min        3.000000      3.000000     11.000000      1901.000000
25%       15.000000     21.000000   3106.000000      1978.000000
50%       21.000000     58.000000   4821.000000      1985.000000
75%       67.000000     93.000000   5257.000000      1990.000000
max       81.000000    383.000000   6638.000000      2001.000000

## Tire size constraints

In this lesson, you're going to build on top of the work you've been doing with the ride_sharing DataFrame. You'll be working with the "tire_sizes" column which contains data on each bike's tire size.

Bicycle tire sizes could be either 26″, 27″ or 29″ and are here correctly stored as a categorical value. In an effort to cut maintenance costs, the ride sharing provider decided to set the maximum tire size to be 27″.

# In this exercise, you will make sure the tire_sizes column has the correct range by first converting it to an integer, then setting and testing the new upper limit of 27″ for tire sizes.
Instructions
100 XP

    Convert the "tire_sizes" column from category to 'int'.
    Use ".loc[]" method to set all values of tire_sizes above 27 to 27.
    Reconvert back tire_sizes to 'category' from int.
    Print the description of the tire_sizes.

In [3]:
import pandas as pd

ride_sharing = pd.read_csv('ride_sharing_new.csv')

ride_sharing['duration'] = ride_sharing['duration'].str.strip('minutes')
ride_sharing['duration'].astype('int')

ride_sharing['user_type'] = ride_sharing['user_type'].astype('category')

print(ride_sharing.head())



# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_size'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_size'] > 27, 'tire_size'] = 27  # ***********************************************

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')  # ***************************************

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

   Unnamed: 0 duration  station_A_id  \
0           0      12             81
1           1      24              3
2           2       8             67
3           3       4             16
4           4      11             22

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23
3                            Steuart St at Market St            28
4                              Howard St at Beale St           350

                    station_B_name  bike_id user_type  user_birth_year  \
0               Broadway at Kearny     5480         2             1959
1  Eureka Valley Recreation Center     5193         2             1965
2    The Embarcadero at Steuart St     3652         3             1993
3     The Embarcadero at Bryant St     1883         1             1979
4             8th St at Brannan St     4626         2             1994

  user_gender
0        Male
1        Male
2        Male
3        Male
4        Male

NameError: name '____' is not defined

## Back to the future

# *******************************************************************************************************************
A new update to the data pipeline feeding into the "ride_sharing" DataFrame has been updated to register each ride's date. This information is stored in the "ride_date" column of the type "object", which represents strings in pandas.

# A bug was discovered which was relaying rides taken today as taken next year (think other conditions, last year?).
To fix this, you will find all instances of the "ride_date" column that occur anytime in the future, and set the maximum possible value of this column to today's date. Before doing so, you would need to convert "ride_date" to a datetime object.
# *******************************************************************************************************************

The datetime package has been imported as dt, alongside all the packages you've been using till now.
Instructions
100 XP

    Convert ride_date to a datetime object and store it in ride_dt column using to_datetime().
    Create the variable today, which stores today's date by using the "dt.date.today()" function.
#    For all instances of "ride_dt" in the future, set them to today's date.
    Print the maximum date in the ride_dt column.

In [ ]:
import datetime
import pandas as pd


today_date = datetime.date.today()

ride_sharing['ride_date'] = ride_sharing['ride_date'].astype('datetime64[ns]')


ride_sharing['ride_date'] = ride_sharing.loc[ride_sharing['ride_date'] > today_date, 'ride_date'] = today_date
ride_sharing['ride_date'] = ride_sharing[ride_sharing['ride_date']>today_date]['ride_date'] = today_date

# Your thinking makes you smarter, not stareing at the answer, you learn nothing in looking at it, but learn a lot in figuring it out.  Choose the right way

In [ ]:
# Convert ride_date to datetime
ride_sharing['ride_dt'] = pd.____(____['____'])

# Save today's date
today = ____

# Set all in the future to today's date
ride_sharing.____[____['____'] > ____, '____'] = ____

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].____())

## Uniqueness constraints






**Hi and welcome to the final lesson of this chapter.  Lets discuss another common data clearning problem, duplicate values.  Duplicate values can be diagnosed when we have the same exact information repeated across multiple row, for some or all column of our DF.  

In this example DF containing the names, address, height, and weight of individuals, the rows represented have identical values across all columns.  In this one there are duplicate values for all columns except the height column, which leads us to think its more likely a data entry error than an actural other person.  

# *******************************************************************************************************************
Apart from data entry and human errors alluded to in the previous slide, duplicate data can also arise because of bugs and design errors wheather in business processes or data pipelines.  However, they often most arise form the necessary act of joining and consolidating data from various resources, which could retain duplicate values.  


# Lets first see how to find duplicate values.  "df.duplicated()" method --> boolean indexing
In this example we're working with a bigger version of the height and weight data seen earlier in this video.  We can find duplicates in a DF by using "df.duplicated()" method.  It returns a Series of boolean values that are True for duplicated values, and False for non-duplicated values.  
We can see exactly which rows are affected by using boolean indexing (df[df.duplicated()]).  However using "df.duplicated()" without playing around with the arguments of the method can lead to misleading results, as all of the columns are required to have duplicated values by default, with all duplicated values being marked as True except for the first occurence.  
# Here, can I recall how we do the DF merger and concatnate operations?  Think and think
This limit our ability to properly diagnose what type of duplication we have, how to effectively treat it.  To properly calibrate how we go about finding duplicates, we will use 2 arguments from the "df.duplicated()" method.  The "subset=" argument lets us set a list of column names to check for duplication.  For example, it can allows us to find duplicates for the first and last name columns only.  The "keep=" argument lets us keep the first occurrence of a duplicate value by setting it to the tring "first", "last", or keep all occurances of duplicated values by setting it to "False".  In below example, we're checking for duplicates across the first name, last name and address columns
and we choosing to keep all duplicates.  


# *******************************************************************************************************************
We see the following results, to get a better bird's eye view of the duplicates, we sort the duplicated rows using "df.sort_values(by='first_name')" method, choosing "first_name" to sort by.  We find that there are 4 sets of duplicated rows, the first 2 being complete duplicates of each other across all columns.  The other 2 being incomplete duplicates of each other with discrepancies across height and weight respectively.  

# ".drop_duplicates()" method
The complete duplicates can be treated easily.  All that required is keep one of them only and discard the others.  This can be down with the ".drop_duplicates()" method, which also takes in the same "subset=" and "keep=" argument asin the ".duplicated()" method, as well as the "inplace=" argument which drops the duplicated values directly inside the height_weight DF.  Here we are droping complete duplicates only, so its not necessary nor adviable to set a "subset=", and since the "keep=" argument takes in "first" as default, we can keep it as such.  Note that we can also set it as "last", but not as "False" as it would keep all duplicates.  

This leaves us with the other 2 sets of duplicates discussed earlier, which are the same for first_name, last_name and address, but contain discrepancies in height and weight.  

# Apart from droping rows with really small discrepancies, we can use a statistical measure to combine each set of duplicated values.  
For example, we can combine these 2 rows into 1 by computing the average mean between them, or the maximum, or other statistical measures, this is highly dependent on a common sense understanding of our data, and what type of data we have.  We can do this easily using the ".groupby()" method, which when chained with ".agg()" method, let you group by a set of common columns and return statistical values for specific columns when the aggregation is being performed. 

For example here, we created a dictionary called summaries, which instructs groupby to return the maximum of duplicated rows for the height column, and the mean duplicated rows for the weight column.  
We then ".groupby()" height_weight by the column names defined earlier, and chained it with the "agg()" method, which takes in the summaries dictionary we created.  
We chain this entire line with the ".reset_index()" method, so that we can have numbered indices in the final output. 
We can verify that there are no more duplicate values by running the ".duplicated()" method again, and use brackets to output duplicate rows.  


Now that we have a solid grasp of dupliccation, lets practice.  


---------------------------------------------------------------------------------------------
first_name   | last_name   | address                                    | height   | weight
Justin       | Saddlemyer  | Boulevard du Jardin Botainque 3, Bruxelles | 193 cm   | 87 kg
Justin       | Saddlemyer  | Boulevard du Jardin Botainque 3, Bruxelles | 194 cm   | 87 kg




Data Entry & Human Error

Bugs and design errors

Join or merge Errors



# Column names to check for duplication
column_names = ['first_name', 'last_name', 'address']

duplicates = height_weight.duplicated(subset=column_names, keep=False)  #############################################

print(height_weight[duplicates])

----------------------------------------------------- Image what will be the output of it




# Output duplicate values
height_weight[duplicates].sort_values(by='first_name')   # Think why choosing f_name, ll_name, address set duplicate 

----------------------------------------------------------------------------------------
     first_name  | last_name  | address                              | height  | weight
 22        Cole  |    Palmer  |                     8366 At, Street  |    178  | 91
102        Cole  |    Palmer  |                     8366 At, Street  |    178  | 91
 28     Desirae  |   Shannon  | P.O. Box 643, 5251 Consectetuer, Rd. |    195  | 83
103     Desirae  |   Shannon  | P.O. Box 643, 5251 Consectetuer, Rd. |    196  | 83
  1        Ivor  |    Pierce  |                   102-3364 Non. Road |    168  | 66
101        Ivor  |    Pierce  |                   102-3364 Non. Road |    168  | 88
 37        Mary  |     Colon  |                         4674 Ut Rd.  |    179  | 75
100        Mary  |     Colon  |                         4674 Ut Rd.  |    179  | 75
         
         
# Drop duplicates
height_weight.drop_duplicates(inplace=True)  ########################################################################


height_weight.groupby(['first_name', 'last_name', 'address']).agg(np.mean)  ??

# Groupby column names and produce statistical summaries
column_names = ['first_name', 'last_name', 'address']
summaries = {'height': 'max', 'weight': 'mean'}
height_weight = height_weight.groupby(by=column_names).agg(summaries).reset_index()  ################################

# Make sure aggregation is done
duplicates = height_weight.duplicated(subset=column_names, keep=False)
height_weight[duplicates].sort_values(by='first_name')

## How big is your subset?

You have the following loans DataFrame which contains loan and credit score data for consumers, and some metadata such as their first and last names. You want to find both complete and incomplete duplicates using ".duplicated()" method.
first_name 	last_name 	    credit_score 	has_loan
Justin 	    Saddlemeyer 	600 	        1
Hadrien 	Lacroix 	    450 	        0

Choose the correct usage of ".duplicated()" below:
Answer the question
50XP
Possible Answers

    loans.duplicated()
      Because the default method returns both complete and incomplete duplicates.  X Full duplicates in every col
    press
    1
    loans.duplicated(subset = 'first_name')
      Because constraining the duplicate rows to the first name lets me find incomplete duplicates as well.  X
    press
    2
    loans.duplicated(subset = ['first_name', 'last_name'], keep = False)
      Because subsetting on consumer metadata and not discarding any duplicate returns all duplicated rows.
    press   X set "keep=" arg to False will keep all duplicates
    3
#    loans.duplicated(subset = ['first_name', 'last_name'], keep = 'first')
      Because this drops all duplicates.
    press
    4
    
# The value we set for "keep=" arg is for "mark" boolean, not keep the records
# *******************************************************************************************************************
    keep : {'first', 'last', False}, default 'first'
        Determines which duplicates (if any) to mark.
    
        - ``first`` : Mark duplicates as ``True`` except for the first occurrence.
        - ``last`` : Mark duplicates as ``True`` except for the last occurrence.
        - False : Mark all duplicates as ``True``.

In [6]:
help(pd.DataFrame.duplicated)

Help on function duplicated in module pandas.core.frame:

duplicated(self, subset: 'Hashable | Sequence[Hashable] | None' = None, keep: "Literal['first'] | Literal['last'] | Literal[False]" = 'first') -> 'Series'
    Return boolean Series denoting duplicate rows.

    Considering certain columns is optional.

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns.
    keep : {'first', 'last', False}, default 'first'
        Determines which duplicates (if any) to mark.

        - ``first`` : Mark duplicates as ``True`` except for the first occurrence.
        - ``last`` : Mark duplicates as ``True`` except for the last occurrence.
        - False : Mark all duplicates as ``True``.

    Returns
    -------
    Series
        Boolean series for each duplicated rows.

    See Also
    --------
    Index.duplicated : Equivalent method on index.
    Series.duplicated : Equivalent method on Series.
    Series.drop_duplicates : Remove duplicate values from Series.
    DataFrame.drop_duplicates : Remove duplicate values from DataFrame.

    Examples
    --------
    Consider dataset containing ramen rating.

    >>> df = pd.DataFrame({
    ...     'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    ...     'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    ...     'rating': [4, 4, 3.5, 15, 5]
    ... })
    >>> df
        brand style  rating
    0  Yum Yum   cup     4.0
    1  Yum Yum   cup     4.0
    2  Indomie   cup     3.5
    3  Indomie  pack    15.0
    4  Indomie  pack     5.0

    By default, for each set of duplicated values, the first occurrence
    is set on False and all others on True.

    >>> df.duplicated()
    0    False
    1     True
    2    False
    3    False
    4    False
    dtype: bool

    By using 'last', the last occurrence of each set of duplicated values
    is set on False and all others on True.

    >>> df.duplicated(keep='last')
    0     True
    1    False
    2    False
    3    False
    4    False
    dtype: bool

    By setting ``keep`` on False, all duplicates are True.

    >>> df.duplicated(keep=False)
    0     True
    1     True
    2    False
    3    False
    4    False
    dtype: bool

    To find duplicates on specific column(s), use ``subset``.

    >>> df.duplicated(subset=['brand'])
    0    False
    1     True
    2    False
    3     True
    4     True
    dtype: bool

## Finding duplicates

# A new update to the data pipeline feeding into "ride_sharing" has added the "ride_id" column, which represents a unique identifier for each ride.

# *******************************************************************************************************************
The update however coincided with radically shorter average ride duration times and irregular user birth dates set in the future. Most importantly, the number of rides taken has increased by 20% overnight, leading you to think there might be both complete and incomplete duplicates in the "ride_sharing" DataFrame.
# *******************************************************************************************************************

In this exercise, you will confirm this suspicion by finding those duplicates. A sample of "ride_sharing" is in your environment, as well as all the packages you've been working with thus far.
Instructions
100 XP

    Find duplicated rows of "ride_id"  in the "ride_sharing" DataFrame while setting "keep=" arg to False.
    Subset "ride_sharing" on duplicates and sort by "ride_id" and assign the results to "duplicated_rides".
    Print the "ride_id", "duration" and "user_birth_year" columns of "duplicated_rides" in that order.

In [ ]:
duplicates = ride_sharing.duplicated(subset='ride_id', keep=False)


duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')


print(duplicated_rides[])

In [ ]:
# Find duplicates
duplicates = ____.____(____, ____)

# Sort your duplicated rides
duplicated_rides = ride_sharing[____].____('____')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['____','____','____']])

## Treating duplicates

In the last exercise, you were able to verify that the new update feeding into "ride_sharing" contains a bug generating both complete and incomplete duplicated rows for some values of the "ride_id" column, with occasional discrepant values for the "user_birth_year" and "duration" columns.

# *******************************************************************************************************************
In this exercise, you will be treating those duplicated rows by first dropping complete duplicates, and then merging the incomplete duplicate rows into one while keeping the average duration, and the minimum user_birth_year for each set of incomplete duplicate rows.
# *******************************************************************************************************************
Instructions
100 XP

    Drop complete duplicates in "ride_sharing" and store the results in "ride_dup".
#    Create the statistics dictionary which holds minimum aggregation for "user_birth_year" and mean aggregation for "duration".
#    Drop incomplete duplicates by grouping by "ride_id" and applying the aggregation in statistics.
    Find duplicates again and run the assert statement to verify de-duplication.

In [ ]:
ride_dup = ride_sharing.drop_duplicates()  # No need set "inplace=" arg to True as we passing it top a varianble


summaries = {'user_birth_year': 'min', 'duration': 'mean'}


ride_unique = ride_dup.groupby('ride_id').agg(summaries).reset_index()


duplicates = ride_unique.duplicated(subset='ride_id', keep=False)

duplicates_rides = ride_unique[duplicates]

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ____.____()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': ____, 'duration': ____}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.____('____').____(____).reset_index()

# Find duplicated values again
duplicates = ride_unique.____(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0  ##############################################################################

## Membership constraints






**Good work on chapter 1.  We are now equipped to treat more complex, and specific data cleaning problems.  In this chapter, we're going to take a look at common data problems with text and categorical data.  So lets get started.  

In this lesson, we'll focus on categorical variables.  As discussed early in chapter 1, categorical data represent variables that represent predefined finite set of categories.  Examples of this range from marriage status, household income categories, loan status and others.  

# To run machine learning models on categorical data, they are often coded as numbers.  
Since categorical data represent a predefined set of categories, they can't have values that go beyond these predefined categories.  We can have inconsistencies in our categorical data for a variety of reasons.  This could be due to data entry issues with free text vs dropdown fields, data parsing errors and other types of errors.  

There's a variety of ways we can treat these, with increasingly specific solutions for different types of inconsistencies.  Most simply, we can drop the rows with incorrect categories.  We can attempt remapping incorrect categories to correct ones, and more.  We'll see a variety of ways of dealing with this throughout the chapter and the course, but for now we'll just focus on dropping data.  


# *******************************************************************************************************************
Lets first look at an example. Here is a DataFrame named study_data containing a list of first names, birth dates, and blood types.  Additional, a DataFrame named categories, containing the correct possible categories for the bloodtype column has been created as well.  Notice the inconsistency here?  There's definitely no bloodtype named Z+.  Luckily, the categories DataFrame will help us systematically spot all rows with these inconsistencies.  

# Its always good practice to keep a log of all possible values of your categorical data, as it will make dealing with these types of inconsistencies way easier.  

# *******************************************************************************************************************
Now before moving on to dealing with these inconsistent values, lets have a brief reminder on joins.  The two main types of joins we care about here are anti-joins and inner-joins.  We join DataFrames on common columns between them. 

# *******************************************************************************************************************
The anti-joins take in 2 DataFrames A and B, and return data from 1 DataFrame that is not contained in another. 
Imagine a example we performing a left anti-joins of DF A and B, and are returning the columns of DataFrames A and B for values only found in A of the common column between them being joined on.  

Inner-joins returns only the data that is contained DataFrames.  For example, an inner-join of A and B would return columns from both DataFrames for values only found in A and B, of the common column between them being joined on.  
# *******************************************************************************************************************


In our example, an left anti-join essentially returns all the data in study data with inconsistent bloodtypes, and an inner-join returns all the rows containing consistent bloodtypes.  Now lets see how to do that in Python.  We first gety all inconsistent categories in the blood_type column of the study_data DataFrame.  We do that by creating a set of the blood_type column which stores its unique values, and use the ".difference()" method which takes in as argument the blood_type column from the categories DataFrame.  This returns all the categories in blood_type that are not in categories.  We then find the inconsistent rows by finding all the rows of the blood_type columns that are equal to inconsistent categories by using the ".isin()" method, this returns a series of boolean values that are True for inconsistent rows and False for consistent ones.  We then subset the study_data DF based on the boolean indexing, and viola we have our inconsistent data.  

To drop inconsistent rows and keep ones that are only consistent.  We just use the tilde symbol (~) while subsetting which rturns everything except inconsistent rows.  


Now thatwe know about treating categorical data, lets practice.  



# Read study data and print in
study_data = pd.read_csv('study.csv')
print(stydy_data)

-------------------------------------------------
    name       | birthday     | bloodtype
1   Beth       | 2019-10-20   | B-
2   Ignatius   | 2020-07-08   | A-
3   Paul       | 2019-08-12   | O+
4   Helen      | 2019-03-17   | O-
5   Jennifer   | 2019-12-17   | Z+   <---
6   Kennedy    | 2020-04-27   | A+
7   Keityh     | 2019-04-19   | AB+


# Correct possible blood types
print(categories)

-----------------------
    bloodtype
1   O-
2   O+
3   A-
4   A+
5   B+
6   B-
7   AB+
8   AB-


# *******************************************************************************************************************

inconsistent_categories = set(study_data['bloodtype']).difference(categories['bloodtype'])  #########################
print(inconsistent_categories)

{'z'}

# Get and print rows with inconsistent categories
inconsistens_rows = study_data['bloodtype'].isin(inconsistent_categories)

inconsistene_data = study_data[inconsistent_rows]

# Drop inconsistent categories and get consistent data only
consistent_data = study_data[~inconsistent_rows]

## Members only

Throughout the course so far, you've been exposed to some common problems that you may encounter with your data, from data type constraints, data range constrains, uniqueness constraints, and now membership constraints for categorical values.

In this exercise, you will map hypothetical problems to their respective categories.
Instructions
100XP

    Map the data problem observed with the correct type of data problem.

Hint

#    Remember, a membership constraint is when a categorical column has values that are not in the predefined set of categories of your column.

Other Constraint: 
     A "revenue" column represented as a string
     A "birthdate" column with value in the future
     An "age" column with value above "130"


Membership Constraint:
     A "month" column with the value "14"
     A "day_of_week" column with the value "Suntermonday"
     A "GPA" column containing a "z-" grade
     A "has_loan" column with the value "12"

## Finding consistency

# *******************************************************************************************************************
In this exercise and throughout this chapter, you'll be working with the airlines DataFrame which contains survey responses on the San Francisco Airport from airline customers.

The DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction. Another DataFrame named categories was created, containing all correct possible values for the survey columns.
# *******************************************************************************************************************

In this exercise, you will use both of these DataFrames to find survey answers with inconsistent values, and drop them, effectively performing an outer and inner join on both these DataFrames as seen in the video exercise. The pandas package has been imported as pd, and the airlines and categories DataFrames are in your environment.
Instructions 1/4
35 XP

    Question 1
#    Print the categories DataFrame and take a close look at all possible correct categories of the survey columns.
#    Print the unique values of the survey columns in airlines using the ".unique()" method.
    
    
    
    Question 2
#    Print the unique values of the survey columns in airlines using the .unique() method.
    
    
    
    Question 3
#    Create a set out of the cleanliness column in airlines using set() and find the inconsistent category by finding the difference in the cleanliness column of categories.
    
    
    
    Question 4
    Find rows of airlines with a cleanliness value not in categories and print the output.

In [ ]:
dict_val_lis = {'col_key1': ['val_11', 'val_12', 'val_13', 'val_14'],
                'col_key2': ['val_21', 'val_22', 'val_23', 'val_24'],
                'col_key3': ['val_31', 'val_32', 'val_33', 'val_34']}

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

list_dict = [{'country': 'Brazil', 'capital': 'Brasilia', 'area': 8.516, 'population': 200.4}, 
             {'country':'Russia', 'capital':'Moscow', 'area':17.10, 'population':143.5}, 
             {'country':'India', 'capital':'New Delhi', 'area':3.286, 'population':1252}, 
             {'country':'China', 'capital':'Beijing', 'area':9.597, 'population':1357}, 
             {'country':'South Africa','capital':'Pretoria','area':1.221, 'population':52.98}]

import pandas as pd
putcome = pd.DataFrame(list_dict)
print(putcome)

In [40]:
import pandas as pd


airlines = pd.read_csv('airlines_final.csv', index_col=0)
print(airlines.head(), "\n")


# *******************************************************************************************************************
dirty_airlines = pd.DataFrame({'cleanliness': ['cool'], 'safety': ['good quality'], 'satisfaction': ['best ever']})

airlines = pd.concat([airlines, dirty_airlines])#, ignore_index=True)
# *******************************************************************************************************************

print(airlines.tail(), "\n")


print(type(airlines['cleanliness'].unique()))
print(airlines['cleanliness'].unique())
print(airlines['safety'].unique())
print(airlines['satisfaction'].unique(), "\n")


categories = pd.DataFrame({'cleanliness': ['Clean', 'Somewhat clean', 'Average', 'Somewhat dirty', 'Dirty'], 
                          'safety': ['Very safe', 'Somewhat safe', 'Neutral', 'Very unsafe', 'Somewhat unsafe'], 
                          'satisfaction': ['Very satisfied', 'Somewhat satsified', 'Neutral', 'Somewhat unsatisfied', 'Very unsatisfied']})

print(categories, '\n')

#print(airlines[['cleanliness', 'safety', 'satisfaction']].unique())



# *******************************************************************************************************************
# So lets image we'll drop every row when a column has inconsistent value
# *******************************************************************************************************************
bad_cleanliness = set(airlines['cleanliness']).difference(categories['cleanliness'])  ###############################
print(bad_cleanliness)

inconsistens_cleanliness_rows = airlines['cleanliness'].isin(bad_cleanliness)

print(inconsistens_cleanliness_rows[-6:], '\n')

good_cleanliness = airlines[~inconsistens_cleanliness_rows]
print(good_cleanliness.tail())

     id        day      airline        destination    dest_region dest_size  \
0  1351    Tuesday  UNITED INTL             KANSAI           Asia       Hub
1   373     Friday       ALASKA  SAN JOSE DEL CABO  Canada/Mexico     Small
2  2820   Thursday        DELTA        LOS ANGELES        West US       Hub
3  1157    Tuesday    SOUTHWEST        LOS ANGELES        West US       Hub
4  2992  Wednesday     AMERICAN              MIAMI        East US       Hub

  boarding_area   dept_time  wait_min     cleanliness         safety  \
0  Gates 91-102  2018-12-31     115.0           Clean        Neutral
1   Gates 50-59  2018-12-31     135.0           Clean      Very safe
2   Gates 40-48  2018-12-31      70.0         Average  Somewhat safe
3   Gates 20-39  2018-12-31     190.0           Clean      Very safe
4   Gates 50-59  2018-12-31     559.0  Somewhat clean      Very safe

         satisfaction
0      Very satisfied
1      Very satisfied
2             Neutral
3  Somewhat satsified
4  Somewhat satsified

          id       day        airline destination dest_region dest_size  \
2805  2222.0  Thursday      SOUTHWEST     PHOENIX     West US       Hub
2806  2684.0    Friday         UNITED     ORLANDO     East US       Hub
2807  2549.0   Tuesday        JETBLUE  LONG BEACH     West US     Small
2808  2162.0  Saturday  CHINA EASTERN     QINGDAO        Asia     Large
0        NaN       NaN            NaN         NaN         NaN       NaN

     boarding_area   dept_time  wait_min cleanliness         safety  \
2805   Gates 20-39  2018-12-31     165.0       Clean      Very safe
2806   Gates 70-90  2018-12-31      92.0       Clean      Very safe
2807    Gates 1-12  2018-12-31      95.0       Clean  Somewhat safe
2808    Gates 1-12  2018-12-31     220.0       Clean      Very safe
0              NaN         NaN       NaN        cool   good quality

            satisfaction
2805      Very satisfied
2806      Very satisfied
2807      Very satisfied
2808  Somewhat satsified
0              best ever

<class 'numpy.ndarray'>
['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty' 'cool']
['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe'
 'good quality']
['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied' 'best ever']

      cleanliness           safety          satisfaction
0           Clean        Very safe        Very satisfied
1  Somewhat clean    Somewhat safe    Somewhat satsified
2         Average          Neutral               Neutral
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied

{'cool'}
2804    False
2805    False
2806    False
2807    False
2808    False
0        True
Name: cleanliness, dtype: bool

          id       day        airline   destination dest_region dest_size  \
2804  1475.0   Tuesday         ALASKA  NEW YORK-JFK     East US       Hub
2805  2222.0  Thursday      SOUTHWEST       PHOENIX     West US       Hub
2806  2684.0    Friday         UNITED       ORLANDO     East US       Hub
2807  2549.0   Tuesday        JETBLUE    LONG BEACH     West US     Small
2808  2162.0  Saturday  CHINA EASTERN       QINGDAO        Asia     Large

     boarding_area   dept_time  wait_min     cleanliness         safety  \
2804   Gates 50-59  2018-12-31     280.0  Somewhat clean        Neutral
2805   Gates 20-39  2018-12-31     165.0           Clean      Very safe
2806   Gates 70-90  2018-12-31      92.0           Clean      Very safe
2807    Gates 1-12  2018-12-31      95.0           Clean  Somewhat safe
2808    Gates 1-12  2018-12-31     220.0           Clean      Very safe

            satisfaction
2804  Somewhat satsified
2805      Very satisfied
2806      Very satisfied
2807      Very satisfied
2808  Somewhat satsified

In [ ]:
    # Find the cleanliness category in airlines not in categories
    cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

    # Find rows with that category
    cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

    # Print rows with inconsistent category
    print(airlines[cat_clean_rows])

    -> airlines의 cleanliness 컬럼의 중복을 제거한 리스트로 만들어, 차집합을 통해 겹치지 않는 값을
    cat_clean에 저장한다. 이때 겹치는 값을 제외한 Unacceptable만 저장된다.

    -> 그리고 cleanliness 컬럼의 값이 cat_clean에 포함되어있는지를 불리언의 형태로
    cat_clean_rows에 저장하였다.

    -> 마지막으로 이 값들이 포함되어있는 행들을 출력한다.

## Categorical variables





**Awesome work on the last lesson.  Now lets discuss other types of problems that could affect categorical variables.  In the last lesson, we saw how categorical data has a value membership constraint, where columns need to have a predefined set of values.  However this is not the only set of problems we may encounter.  

When cleaning categorical data, some of the problems we may encounter include value inconsistency, the presence of too many categories that could be collapsed into one, and making sure data is of the right type.  Lets start with making sure our categorical data is consistent.  

# *******************************************************************************************************************
# A common categorical data problem is having values that slightly differ because of capitalizations.  
Not treating this could lead tyo misleading results when we dicide to analyze the data, for example, lets assume we're working with a demographics dataset, and we have a marriage status column with inconsistent capitalization.  Below is what counting the number of married people in the marriage_status Series would look like.  

Note that ".value_counts()" method works on Series only.  For a DF, we can "df.groupby()" the column and use the ".count()" method.  

To deal with this, we can either capitalize or lowercase the marriage_status column.  This can be done with the "str.upper()" or "str.lower()" function respectively.  


# *******************************************************************************************************************
# Another common problem with categorical values are leading or trailing spaces.  
For example, imagine the same demographics DF containing values with leading spaces.  Below is what the counts of married vs unmarried people would look like.  Note that there is a married category with a trailing space on the right, which makes it hard to sport on the output, as opposed to unmarried.  

To remove leading and trailing spaces, we can use the "str.strip()" method, which when giving no input, strips all leading and trailing white spaces.  



# *******************************************************************************************************************
# Sometimes, we may want to create categories out of our data, such as creating household income groups from income data.  
To create categories out of data, lets use the example of creating an income group column in the demographics DataFrame.  (do you remember how we did this using "pd.cut()" & "pd.qcut()")  

# "pd.qcut(df['column'], q=, labels=)"
We can do this in 2 ways.  The first method utilizes the "pd.qcut()" function from Pandas, which automatically divides our data based on its distribution into the number of categories we set in the "q=" argument, we created the category names in the group_names list and fed it to "labels=" argument, returning the following.  

Notice the first row actually misrepresents the actual income of the income group, as we didn't instruct qcut where our ranges actually lie.  

# "pd.cut(df['column'], bins=, labels=)"
We can do this with "pd.cut()" function instead, which lets us define category cutoff ranges with the bins argument.  It takes in a list of cutoff points for each category, with the final one being infinity represented with "np.inf()" from NumPy.  From the output, we can we can see that this is much more correct.  



# *******************************************************************************************************************
# Sometimes, we may want to reduce the amount of categories we have in our data.  Lets move on to mapping categories to fewer ones.  

For example, assume we have a column containing the operating system of different devices, and contains these unique values: Microsoft, MacOS, IOS, Android, Linux.  Say we want to collapse these categories into 2, DesktopOS, and MobileOS.  

# We can do this by using the ".replace()" method.  
It takes in a dictionary that maps each existing category to the category name you desire.  In this case, this is a mapping dictionary.  A quick print of the unique values of operating system shows the mapping has been complete.  


Now that we know about treating categorical data, lets practice.  



 (1) Value inconsistency
     Inconsistent fields: 'married', 'Maried', 'UNMARRIED', 'not married' ...
     Trailing white spaces: 'married', ' married '
(11) Collapsing too many categories to few
     Creating new groups: "0-20k", "20-40k" categories from continuous household income data
     Mapping groups to new ones: Mapping household income categories to "rich", "poor"


# Get marriage status column
marriage_status = demographics['marriage_status']

marriage_status.value_counts()

unmarried   352
married     268
MARRIED     204
UNMARRIED   176
dtype: int64


 unmarried   352
married      268
MARRIED      204
UNMARRIED    176
dtype: int64



# Using  "pd.qcut()"
group_names = ['0-200k', '200-500k', '500k+']

demographics["income_group"] = pd.qcut(demographics['household_income'], q=3, labels=group_names)

# Print income_group column
demographics[['income_group', 'household_income']]

-----------------------------------------
    income_group  | household_income
    200-500k      | 189243
    500k+         | 778533
    


# Using "pd.cut()" - creat category ranges and names
ranges = [0, 200000, 500000, np.inf]

group_names = ['0-200k', '200-500k', '500k+']

# Create income group column
demographics['income_group'] = pd.cut(demographics['household_income'], bins=ranges, labels=group_names)

-----------------------------------------
    income_group  | household_income
    0-200k        | 189243
    500k+         | 778533
    
    
    
# Create a mapping dictionary and replace
mapping = {"Microsoft": "DesktopOS", "MacOS": "DesktopOS", "Linux": "DesktopOS", "IOS": "MobileOS", "Android": "MobileOS"}

devices["operating_system"] = devices["operating_system"].replace(mapping) ##########################################
# *******************************************************************************************************************

devices["operating_system"].unique()

## Categories of errors

In the video exercise, you saw how to address common problems affecting categorical variables in your data, including white spaces and inconsistencies in your categories, and the problem of creating new categories and mapping existing ones to new ones.

To get a better idea of the toolkit at your disposal, you will be mapping functions and methods from pandas and Python used to address each type of problem.
Instructions
100XP

    Map each function/method to the categorical data problem it solves.

White spaces and inconsistency:
     .str.upper()
     .str.lower()
     .str.strip()

Creating or remapping categories:
     pd.cut()
     .replace()
     pd.qcut()

##  Inconsistent categories

In this exercise, you'll be revisiting the airlines DataFrame from the previous lesson.

As a reminder, the DataFrame contains flight metadata such as the airline, the destination, waiting times as well as answers to key questions regarding cleanliness, safety, and satisfaction on the San Francisco Airport.

In this exercise, you will examine two categorical columns from this DataFrame, dest_region and dest_size respectively, assess how to address them and make sure that they are cleaned and ready for analysis. The pandas package has been imported as pd, and the airlines DataFrame is in your environment.
Instructions 1/4
25 XP

    Question 1
    Print the unique values in "dest_region" and "dest_size" respectively.
    
    
    
    Question 2
    From looking at the output, what do you think is the problem with these columns?
    Possible Answers
    The "dest_region" column has only inconsistent values due to capitalization.
#    The "dest_region" column has inconsistent values due to capitalization and has one value that needs to be remapped.    yes, the 'euro' should be mapped to 'Europe'
    The dest_size column has only inconsistent values due to leading and trailing spaces.
    
    
    
    Question 3
#    Change the capitalization of all values of "dest_region" to lowercase.
#    Replace the 'eur' with 'europe' in dest_region using the ".replace()" method.
    
    
    
    Question 4
#    Strip white spaces from the "dest_size" column using the ".strip()" method.
#    Verify that the changes have been into effect by printing the unique values of the columns using .unique() .

In [7]:
import pandas as pd


airlines = pd.read_csv('airlines_final.csv')
print(airlines.head(), '\n')


print(airlines['dest_region'].unique(), '\n')

print(airlines['dest_size'].unique(), '\n')



airlines['dest_region'] = airlines['dest_region'].str.lower()


airlines['dest_region'] = airlines['dest_region'].replace({'eur': 'europe'})  #######################################


print(airlines['dest_region'].unique(), '\n')

   Unnamed: 0    id        day      airline        destination    dest_region  \
0           0  1351    Tuesday  UNITED INTL             KANSAI           Asia
1           1   373     Friday       ALASKA  SAN JOSE DEL CABO  Canada/Mexico
2           2  2820   Thursday        DELTA        LOS ANGELES        West US
3           3  1157    Tuesday    SOUTHWEST        LOS ANGELES        West US
4           4  2992  Wednesday     AMERICAN              MIAMI        East US

  dest_size boarding_area   dept_time  wait_min     cleanliness  \
0       Hub  Gates 91-102  2018-12-31     115.0           Clean
1     Small   Gates 50-59  2018-12-31     135.0           Clean
2       Hub   Gates 40-48  2018-12-31      70.0         Average
3       Hub   Gates 20-39  2018-12-31     190.0           Clean
4       Hub   Gates 50-59  2018-12-31     559.0  Somewhat clean

          safety        satisfaction
0        Neutral      Very satisfied
1      Very safe      Very satisfied
2  Somewhat safe             Neutral
3      Very safe  Somewhat satsified
4      Very safe  Somewhat satsified

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']

['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']